<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <link rel="stylesheet" href="../../CSS/gestion-escolar.css">
    <link rel="stylesheet" href="../../CSS/Modals.css">
    <script src="../../JS/modals.js" defer></script>
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="gestion-escolar">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Estudiantes - (SA)</h3>
                </div>
            </div>
        </article>
    </section>
    <section class="sectionModal sectIL-I" data-identifier-modal="asesorias">
        <nav class="navItemLinks">
            <h3 class="titleLinks">Asesorias</h3>
            <ul class="listItemLinks">
                <a href="../asesorias/asesorias_basicas.html" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">Área Básica</p>
                    </li>
                </a>
                <a href="../asesorias/asesorias_basicas.html" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">Área Humanística</p>
                    </li>
                </a>
                <a href="../asesorias/asesorias_carreras.html" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">Área Tecnológica</p>
                    </li>
                </a>
            </ul>
        </nav>
    </section>
    <section class="sectionModal sectIL-I" data-identifier-modal="horarios">
        <nav class="navItemLinks">
            <h3 class="titleLinks">Horarios</h3>
            <ul class="listItemLinks">
                <a href="#" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">1ER SEMESTRE MATUTINO</p>
                    </li>
                </a>
                <a href="#" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">3ER SEMESTRE MATUTINO</p>
                    </li>
                </a>
                <a href="#" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">5TO SEMESTRE MATUTINO</p>
                    </li>
                </a>
                <a href="#" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">1ER SEMESTRE VESPERTINO</p>
                    </li>
                </a>
                <a href="#" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">3ER SEMESTRE VESPERTINO</p>
                    </li>
                </a>
                <a href="#" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">5TO SEMESTRE VESPERTINO</p>
                    </li>
                </a>
            </ul>
        </nav>
    </section>
    <header></header>
    <main>
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Subdirección Académica</h1>
        </section>
        <section class="sectionGestionEsc">
            <article class="articleInfoGE">
                <ul class="listGestionEsc listGE-I">
                    <li class="itemActionModal itemGE" data-item-modal="asesorias">
                        <img src="../../img/imgGestion/discusion.png" alt="" class="imgItemGE">
                        <p class="textSubItemGE">
                            Asesorías
                        </p>
                    </li>
                    <li class="itemActionModal itemGE" data-item-modal="horarios">
                        <img src="../../img/imgGestion/calendario.png" alt="" class="imgItemGE">
                        <p class="textSubItemGE">
                            Horarios
                            <br>
                            <u>Ciclo Escolar 2023-2</u>
                        </p>
                    </li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfL7E4k8S1S14fbl0YPjbiO3haZ7cfD79ztjE3Erwt4gu32PA/viewform?usp=pp_url" class="aElement">
                        <li class="itemGE">
                            <img src="../../img/imgGestion/lista-de-verificacion.png" alt="" class="imgItemGE">
                            <p class="textSubItemGE">Solicitud de Revisión de Exámen ETS</p>
                        </li>
                    </a>
                    <a href="../../views/gestion-escolar/saberes.html" class="aElement">
                        <li class="itemGE lastItemsGE">
                            <img src="../../img/imgGestion/examen.png" alt="" class="imgItemGE">
                            <p class="textSubItemGE">Exámen de Saberes Previamente Adquiridos</p>
                        </li>
                    </a>
                </ul>
            </article>
        </section>
    </main>
    <footer></footer>
</body>
<!-- #region -->
<!-- <div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script> -->
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<!-- <div id="fb-root"></div> -->
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script> -->
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>