<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materiales | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="materiales">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Materiales</h3>
                </div>
            </div>
        </article>
    </section>

    <header></header>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Materiales</h1>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">FORMATOS DE PLANEACIÓN 2023-2</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">FORMATOS:</h3>
                <!-- PLANTILLA DE LISTA -->
                <ul class="listTemplate" style="list-style: decimal;">
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Materiales/Lista_de_Cotejo_23_2_1.docx" target="_blank" class="aElementTemplates">LISTA DE COTEJO 2023-2</a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Materiales/Instructivo_Planeaci_n_Did_ctica_23_2.docx" target="_blank" class="aElementTemplates">INSTRUCTIVO DE LA PLANEACIÓN DIDÁCTICA 2023-2</a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Materiales/Planeacion_Didactica_23-2.docx" target="_blank" class="aElementTemplates">PLANEACIÓN DIDÁCTICA 2023-2</a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Materiales/PLANEACIÓN_23_2.pptx" target="_blank" class="aElementTemplates">PLANEACIÓN 2023-2</a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Materiales/PORTAFOLIO DE EVIDENCIAS-DOCENTE-PROCESO-ENSEÑANZA (1).pptx" target="_blank" class="aElementTemplates">PORTAFOLIO DE EVIDENCIAS DOCENTE PROCESO ENSEÑANZA 2023-2</a>
                        </p>
                    </li>
                </ul>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>