<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de calidad | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <link rel="stylesheet" href="../../CSS/gestion-de-calidad.css">
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="gestion-de-calidad">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Sistema de Gestión para Organizaciones Educativas</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Sistema de Gestión para Organizaciones Educativas</h1>
        </section>
        <section class="sectionGestion">
            <article class="presentationGestion">
                <div class="contentPresentationG">
                    <div class="contLeftContentPG">
                        <h2>Instituo Politécnico Nacional</h2>
                        <div class="contIndividualInfo">
                            <h4>Dr. Arturo Reyes Sandoval</h4>
                            <p>Director general</p>
                        </div>
                        <div class="contIndividualInfo">
                            <h4>Ing. Arq. Carlos Ruiz Cárdenas</h4>
                            <p>Secretario General</p>
                        </div>
                        <div class="contIndividualInfo">
                            <h4>Mtro. Mauricio Igor Jasso Zaranda</h4>
                            <p>Secretario Académico</p>
                        </div>
                        <div class="contIndividualInfo">
                            <h4>M. en E.N.A Maria Isabel Rojas Ruiz</h4>
                            <p>Director de Educación Media Superior</p>
                        </div>
                        <h2>CECyT No.3 "Estanislao Ramirez Ruiz"</h2>
                        <div class="contIndividualInfo">
                            <h4>M. en E. José Diego Rubén Aguila Chávez</h4>
                            <p>Director</p>
                        </div>
                        <div class="contIndividualInfo">
                            <h4>M. en E. Alejandrina González Morales</h4>
                            <p>Subdirección Académica</p>
                        </div>
                        <div class="contIndividualInfo">
                            <h4>Dra. Magdalena Mireya Sosa Nuñez</h4>
                            <p>Subdirectora Administrativa</p>
                        </div>
                        <div class="contIndividualInfo">
                            <h4>Lic. Jose Camilo Martinez Ochoa</h4>
                            <p>Subdirector de Servicios Educativos e Integración Social</p>
                        </div>
                        <div class="contIndividualInfo">
                            <h4>Lic. Jarumi Lizzette Pano Díaz</h4>
                            <p>Jefa de la Coordinación de Enlace y Gestión Técnica</p>
                        </div>
                    </div>
                    <div class="contRightContentPG">
                        <h2>Sistema de Gestión para Organizaciones Educativas</h2>
                        <div class="contInfoRightCPG">
                            <h3>CERTIFICACIÓN ISO 21001-2018</h3>
                            <p>La certificación es un proceso mediante el cual, una instancia acreditada e independiente a la Unidad Académica, asegura por escrito que un producto, proceso o servicio cumple con todos los requisitos y especificaciones necesarias; lo que brinda confianza y satisfacción a todas las partes interesadas.</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="infoCardGestion">
                <div class="contCardsGestion">
                    <div class="cardGestion">
                        <h3>OBJETIVOS DE CALIDAD</h3>
                        <ul class="listCardGestion">
                            <li class="itemListCardG">
                                <p>
                                    Práctica de la actividad académica en línea, mediante nuevas experiencias formativas, para asegurar la continuidad de nuestros Programas Académicos
                                </p>
                            </li>
                            <li class="itemListCardG">
                                <p>
                                    Desarrollo a distancia de los procesos administrativos que conforman la SGOE , cuya naturaleza lo permita, de conformidad con la normatividad y disposiciones vigentes.
                                </p>
                            </li>
                            <li class="itemListCardG">
                                <p>
                                    Mantener en operación canales de comunicación, mediante el uso de tecnologías
                                </p>
                            </li>
                            <li class="itemListCardG">
                                <p>
                                    Operar con el 80% de satisfacción promedio del beneficiario en los subprocesos que se encuentran en operación y que conforman el Sistema de Gestion de las Organizaciones Educativas.
                                </p>
                            </li>
                            <li class="itemListCardG">
                                <p>
                                    Formar integramente personas con conocimientos, valores y principios comprometidos con el desarrollo de la ciencia y la tecnología encaminada al bienestar económico, social y cultural de una manera sustentable a traves de nuestros programas academicos.
                                </p>
                            </li>
                            <li class="itemListCardG">
                                <p>
                                    Operar de una manera eficiente un sistema sustentable en beneficio de la Unidad Academica y la sociedad mediante acciones del Comité ambiental.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="cardGestion">
                        <h3>POLÍTICA DE CALIDAD</h3>
                        <p>
                            En el CECyT No. 3 estamos comprometidos a trabajar con una cultura de calidad para ofrecer un servicio educativo eficiente, operando con procesos orientados a promover el uso correcto de los recursos, la satisfaccion y la mejora continua; sustentados en el cumplimiento de los requisitos normativos aplicables; para brindar a nuestros estudiantes una formación integra, formando egresados competentes y con notable reconocimiento, que contribuyan al progreso del país y al desarrollo global.
                        </p>
                    </div>
                    <div class="cardGestion">
                        <h3>MISIÓN</h3>
                        <p>
                            El Centro de Estudios Científicos y Tecnológicos No. 3 "Estanislao Ramírez Ruiz", es una Unidad Académica del área de Ingeniería y Ciencias Físico-Matemáticas en el Nivel Medio Superior del InstitutoPolitécnico Nacional, que forma integralmente personas con conocimientos, valores y principios; comprometidos con el desarrollo de la ciencia y la tecnología encaminada al bienestar económico, social y cultural de la población, de una manera sostenible; a través de programas académicos pertinentes en la modalidad presencial de Técnico en: Aeronáutica, Computación, Manufactura Asistida por Computadora, Sistemas Automotrices, Sistemas de Control Eléctrico, Sistemas Digitales; y en la modalidad mixta con el Programa de Técnico en Computación; apoyados con infraestructura de calidad, procesos certificados y personal capacitado.

                        </p>
                    </div>
                    <div class="cardGestion">
                        <h3>VISIÓN</h3>
                        <p>
                            Institución educativa del Nivel Medio Superior líder y vanguardista en el contexto nacional e internacional; que forma seres humanos con la capacidad de brindar soluciones innovadoras globales, en un ambiente de inclusión, libertad, equidad, transparencia y democracia.
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>