<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <link rel="stylesheet" href="../../CSS/biblioteca.css">
    <script src="../../JS/plantillas/bntShowImage.js" defer></script>
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="biblioteca">
    <section class="sectionShowImageTemplate sSIT-I">
        <img src="" alt="" class="imgShowTemplate">
    </section>
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Biblioteca</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <section class="heroTemplate bibliotecaHero"></section>
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">Horario de servicio: 07:30 a 20:30 hrs.</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">SERVICIOS</h3>
                <p class="textTemplate-tn">Por le momento la biblioteca te ofrece el siguiente servicio:</p>
                <!-- PLANTILLA DE LISTA -->
                <ul class="listTemplate listDecimal">
                    <li>
                        <p class="textTemplate-tn">
                            Catálogo en línea (de todas las bibliotecas del IPN, así como de la bilbioteca digital McGraw-Hill).
                            <br>
                            Para poder hacer uso de este servicio, deberás registrarte en el siguiente enlace: <a href="https://forms.gle/N4PfBSmPbyF88ZSh7" target="_blank" class="aElementTemplates"><b>https://forms.gle/N4PfBSmPbyF88ZSh7</b></a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Préstamo a domicilio
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Constancias de no adeudo
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Préstamo en sala
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Mesa para ajedrez
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Mesas para láminas de dibujo
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Mesas para armado de circuitos
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Mesas para papel kraft, cartulinas y hojas bond
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Mesas para tareas o consulta en sala
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Mesas para trabajar con laptop
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Mapas
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Sala de cómputo
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Área de lectura
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Catálogo en línea
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Préstamos Interbibliotecarios
                        </p>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn">DOCUMENTOS PARA EL USO DE LA BIBLIOTECA</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Biblioteca/Lineamientos_2023.pdf" target="_blank" class="aElementTemplates">
                                <b>
                                    LINEAMIENTOS
                                </b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Biblioteca/Distrubución_de_mesas_2023.pdf" target="_blank" class="aElementTemplates">
                                <b>
                                    DISTRIBUCIÓN DE MESAS
                                </b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Biblioteca/Pasos_para_ingresar_a_la_biblioteca_digital_McGraw-Hill.pdf" target="_blank" class="aElementTemplates">
                                <b>
                                    PASOS PARA INGRESAR A LA BIBLIOTECA DIGITAL "McGraw-Hill"
                                </b>
                            </a>
                        </p>
                    </li>
                </ul>
            </article>
        </section>
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">DIRECTORIO BIBLIOTECA</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">CONTACTOS:</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            <b>M. en A.F. Jesús Ernesto Moreno Salas</b>
                            <br>
                            Jefe de Servicios Estudiantiles
                            <br>
                            Ext. 74030 y 74049
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <b>Hurí Villar Kerlegand</b>
                            <br>
                            Encargada de la Biblioteca
                            <br>
                            <a href="mailto:biblio.cecyt3@ipn.mx" target="_blank" class="aElementTemplates"><b>biblio.cecyt3@ipn.mx</b></a>
                            <br>
                            Ext. 74058
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <b>Hector Callejas Mayo</b>
                            <br>
                            Catalogador
                            <br>
                            Ext. 74058
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <b>Brenda Orduña Cruz</b>
                            <br>
                            Módulo de Préstamo a Domicilio
                            <br>
                            Ext. 74059
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <b>Rolando Dorado Morales</b>
                            <br>
                            Módulo de Préstamo a Domicilio
                            <br>
                            Ext. 74059
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <b>Fernando Aguilar Patlán</b>
                            <br>
                            Módulo de Préstamo a Sala
                            <br>
                            Ext. 74059
                        </p>
                    </li>
                </ul>
            </article>
        </section>
        <!--PLANTILLA SOLO IMAGEN, INSERTAR LA SECCION "MOSTRAR IMAGEN" SOLO UNA VEZ-->
        <section class="template-imgN">
            <article class="articleTitleTemplate-in">
                <h2 class="titleTemplate-in">GALERÍA - BIBLIOTECA</h2>
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Biblioteca/acceso.jpg" alt="" class="imgTemplate-in">
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Biblioteca/mesaajedrez.jpg" alt="" class="imgTemplate-in">
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Biblioteca/mesacircuitos.jpg" alt="" class="imgTemplate-in">
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Biblioteca/mesalaptop.jpg" alt="" class="imgTemplate-in">
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Biblioteca/mesaslaminas.jpg" alt="" class="imgTemplate-in">
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Biblioteca/mesastarea.jpg" alt="" class="imgTemplate-in">
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Biblioteca/salacomputo.jpg" alt="" class="imgTemplate-in">
            </article>
        </section>
        <section class="template-imgN">
            <article class="articleTitleTemplate-in">
                <h2 class="titleTemplate-in">AVISOS - GALERÍA</h2>
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Biblioteca/politicas.jpg" alt="" class="imgTemplate-in">
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Biblioteca/renovacion.jpg" alt="" class="imgTemplate-in">
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">STIOS DE INTERÉS</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            <a href="http://www.universum.unam.mx/" target="_blank" class="aElementTemplates">
                                <b>
                                    http:// www.universum.unam.mx/
                                </b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="https://www.bibliotecadigital.ipn.mx/login" target="_blank" class="aElementTemplates">
                                <b>
                                    https:// www.bibliotecadigital.ipn.mx/ login
                                </b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="http://www.bibliotecademexico.gob.mx/" target="_blank" class="aElementTemplates">
                                <b>
                                    http:// www.bibliotecademexico.gob.mx/
                                </b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="https://mapserver.sgm.gob.mx:8070/alipac/ABOPKWCHGJXKFRVBPRNH-00001/form/find-simple" target="_blank" class="aElementTemplates">
                                <b>
                                    https:// mapserver.sgm.gob.mx:8070 / alipac / ABOPKWCHGJXKFRVBPRNH-00001 / form / find-simple
                                </b>
                            </a>
                        </p>
                    </li>
                </ul>
            </article>
            <br>
            <p class="textTemplate-tn textCenter" style="padding: 0 1rem;">Catálogo en línea: <a href="#" target="_blank" class="aElementTemplates"><b>http://www.busqueda.dirbibliotecas.ipn.mx/F</b></a></p>
            <br>
            <h3 class="subtitleTemplate-tn textCenter" style="padding: 0 1rem;">Departamento de Servicios Estudiantiles, Tel. 56242000 ext. 74030 y 74049</h3>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>