<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsa de trabajo | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="bolsa-de-trabajo">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Bolsa de Trabajo</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Bolsa de Trabajo</h1>
        </section>
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">¿QUÉ SON LAS BOLSAS DE TRABAJO?</h3>
                <p class="textTemplate-tn">
                    Las bolsas de trabajo son una de las mejores maneras de buscar trabajo, dado que son justamente para aquello que han sido creadas.
                    <br><br>
                    Originalmente, las bolsas de trabajo, fueron diseñadas por las universidades, para buscar empleo para sus egresados. En este sentido, la bolsa de trabajo IPN, es donde se muestra una base de datos, sobre los puestos disponibles con aquellas empresas que buscaban personal, correspondiente a esa carrera.
                    <br><br>
                    En esta sección la Unidad Politécnica de Integración Social actúa como enlace entre alumnos, egresados y empresas, relaciona a egresados y alumnos del IPN con probables fuentes de trabajo y promueve sus perfiles profesionales.
                    <br><br>
                </p>
                <h3 class="subtitleTemplate-tn">ALUMNOS Y EGRESADOS</h3>
                <p class="textTemplate-tn">
                    <b>Para ello contamos con el portal SIBOLTRA, un portal para alumnos y egresados del IPN donde podrás:</b>
                </p>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            Ingresar su currículum vitae.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Realizar búsquedas de ofertas que se adecuen a su perfil.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Acceder a distintos tipos de trabajos como son freelance, part time, prácticas profesionales, full time, entre otros.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Postular en tiempo real a las distintas vacantes de importantes empresas, las que se actualizan diariamente.
                        </p>
                    </li>
                </ul>
                <p class="textTemplate-tn">
                    Por parte de las empresas que desean cubrir sus vacantes, un portal de empleo le permite:
                </p>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            Publicar de manera permanente sus necesidades de vacantes.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Tener acceso a miles de currículum para futuras búsquedas y almacenamiento de bases de datos.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Elegir los perfiles más idóneos para el cargo entre cientos de postulantes.
                        </p>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn">EMPLEADORES</h3>
                <p class="textTemplate-tn">
                    El portal SIBOLTRA, es un sitio de enlace entre alumnos y egresados del IPN y tu empresa u organización, donde podrás:
                    <br><br>
                    <b>Publicar vacantes.</b> Este servicio consiste en dar a conocer a los posibles usuarios interesados, información de vacantes disponibles o consultar datos de nuestros estudiantes o egresados inscritos a ésta.
                    <br><br>
                    <b>Nuestro sistema</b> es sólo para alumnos o egresados del IPN en sus programas de técnico, profesional, maestría o doctorado. Por favor ingresa a la siguiente página:
                    <br><br>
                    <a href="https://www.sisae-siboltra.ipn.mx/Login.aspx?RetrunUrl=%2f" target="_blank" class="aElementTemplates">
                        <b>https://www.sisae-siboltra.ipn.mx/Login.aspx?RetrunUrl=%2f</b>
                    </a>
                    <br><br>
                </p>
                <h3 class="subtitleTemplate-tn">INFORMACIÓN IMPORTANTE, BENEFICIOS</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            Servicio Gratuito
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Capacidad para publicar vacantes de medio tiempo y tiempo completo.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            No asume ninguna obligación de contratar a un alumno o egresado con el que establezca relación.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            No se encuentra obligado a publicar un determinado número de vacantes en cierto periodo.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Protección de su empresa con contraseña de acceso.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Capacidad para publicar vacantes estratégicas e importantes de manera CONFIDENCIAL.
                        </p>
                    </li>
                </ul>
                <p class="textTemplate-tn">
                    También tienes la oportunidad de mandarnos directamente las vacantes que tienes disponibles afines nuestras Carreras Técnicas para que la Unidad Politécnica de Integración Socia la divulgue entre alumnos y egresados. <b>Correo Electrónico:</b> <a href="mailto:siboltracecyt3@gmail.com" target="_blank" class="aElementTemplates"><b>siboltracecyt3@gmail.com</b></a>
                </p>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>