<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capacitación Profesional | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="capacitacion-profesional">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Capacitación Profesional</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Capacitación Profesional</h1>
        </section>
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">CAPACITACIÓN - ACTUALIZACIÓN PROFESIONAL</h3>
                <p class="textTemplate-tn">
                    Con el agrado de invitarlos a nuestra oferta de capacitación, los cursos a trabajar en el 2022 son los siguientes:
                </p>
                <!-- PLANTILLA DE TABLA -->
                <div class="sectionTable">
                    <table class="tableTemplate">
                        <thead class="tableHeadTemplate">
                            <tr class="tableRowTemplate">
                                <th class="cellHeadT">
                                    <p class="textCellT">
                                        Curso
                                    </p>
                                </th>
                                <th class="cellHeadT">
                                    <p class="textCellT">
                                        Horas
                                    </p>
                                </th>
                                <th class="cellHeadT">
                                    <p class="textCellT">
                                        Dirigido a
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableBodyTemplate">
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        AutoCad 2D
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Automatización de máquinas
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Motores eléctricos
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        30
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Sitios WEB
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Electrónica
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        PLC (Controador Lógico Programable)
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Lubricación
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Herramientas
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Soldadura
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Metrología y Dibujo Técnico
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Metrología aplicada
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Ofimática
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        80
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Productividad
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Inteligencia Emocional
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Servicio Técnico a dispositivos móviles
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Electroneumática
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Hidroelectricidad
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        SolidWorks (B-I)
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Transmisión de Potencia
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        30
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Vacío
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        20
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Técnicas de Conducción
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        30
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Mecánica Hidráulica
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        30
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Mecánica de emergencia
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        30
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Diplomado en Ofimática
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        160
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Comportamiento Organizacional
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Trabajo en Equipo
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Plan de Vida
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Plan de Vida
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Liderazgo empresarial
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Diplomado Coaching Empresarial
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        160
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        ISO 9001:2015
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        60
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Six SIGMA
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        60
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Planeación estratégica
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Plan de vida
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Plan de vida
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Manejo de redes sociales
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Excel
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        60
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Análisis y Solución de problemas
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Clima organizacional
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Seguridad e Higiene en el Centro de Trabajo
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Conducción eficiente de Equipos de Trabajo
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Supervisión y Liderazgo
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        40
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        Alumnos, Docentes y Empresas
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>