<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio Médico | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="servicio-medico">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Servicio Médico</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Servicio Médico</h1>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn" style="text-align: center;">SERVICIOS</h3>
                <p class="textTemplate-tn" style="text-align: center;">
                    <b>Visita el siguiente link, para que conozcas los servicios que se te ofrecen:</b>
                    <br>
                    <a href="https://view.genial.ly/61105499ab639c0dacac656b" target="_blank" class="aElementTemplates">https://view.genial.ly/61105499ab639c0dacac656b</a>
                    <br><br>
                </p>
                <h3 class="subtitleTemplate-tn">DOCUMENTACIÓN A ENTREGAR</h3>
                <p class="textTemplate-tn">
                    Tendrás que entregar los siguientes documentos, en el Servicio Médico del plantel, en fechas que se te notificarán posteriormente. Favor de estar atento.
                </p>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            Historia clínica.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Póliza de seguro de vida.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Póliza de seguro de accidentes.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Constancia de vigencia del IMSS (tercero y quinto semestre).
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Asignación de número de seguridad social (nuevo ingreso).
                        </p>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn">HISTORIA CLÍNICA</h3>
                <p class="textTemplate-tn">
                    <b>Ingresa a: </b>
                    <a href="../../Documents/Servicio-medico/HISTORIA CLINICA 2020.pdf" target="_blank" class="aElementTemplates">
                        HISTORIA CLÍNICA
                    </a>
                    <b>e imprímela</b>
                </p>
                <ul class="listTemplate" style="list-style: decimal;">
                    <li>
                        <p class="textTemplate-tn">
                            Utilizar  pluma tinta negra o azul.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Letra de molde y legible.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Llenar todos los espacios que se te solicitan.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Sin tachaduras.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Si te es posible pega una foto reciente, sino es así, saca una copia de la foto de tu credencial escolar tamaño infantil y pégala en la historia.
                        </p>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn">PÓLIZAS DE SEGURO</h3>
                <p class="textTemplate-tn">
                    <b>La Latino Seguros:</b>
                </p>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            Ingresa a:
                            <a href="../../Documents/Servicio-medico/INSTRUCTIVO Seguro de Vida Grupo.pdf" target="_blank" class="aElementTemplates">
                                <b> INSTRUCTIVO Consentimiento Seguro de Vida Grupo</b>
                            </a>
                            , y a:
                            <a href="../../Documents/Servicio-medico/INSTRUCTIVO Seguro de Accidentes Personal Colectivo.pdf" target="_blank" class="aElementTemplates">
                                <b> INSTRUCTIVO Consentimiento Seguro de Accidentes Personales Colectivo</b>
                            </a>
                            , para que sepas el llenado correcto, RECUERDA QUE NO DEBERÁS DE ANOTAR NADA EN EL INSTRUCTIVO.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Ingresa al enlace y descarga los formatos para imprimirlos <b>en una sola hoja por ambos lados cada formato</b>
                            (
                                <a href="../../Documents/Servicio-medico/Seguro de Vida Grupo.pdf" target="_blank" class="aElementTemplates">
                                    <b>Consentimiento de Seguro de Vida Grupo</b>
                                </a>
                                y
                                <a href="../../Documents/Servicio-medico/Seguro de Accidentes Personal Colectivo.pdf" target="_blank" class="aElementTemplates">
                                    <b>Consentimiento Seguro de Accidentes Personales Colectivo</b>
                                </a>),
                            <b>no es necesario imprimirlos a color</b> . Puede ser con TU letra de molde, legible y con tinta azul (sin tachaduras o enmendaduras), o a computadora y la firma con tinta azul (si eres menor de edad será tu nombre completo, si eres mayor de edad tu firma del INE).
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            En la sección de Aviso de Privacidad Integral anotaras:
                            <br>
                            EN <b>LUGAR</b> Y <b>FECHA</b> ANOTAR:
                        </p>
                        <ul class="listTemplate">
                            <li>
                                <p class="textTemplate-tn">
                                    <b>Lugar: Ecatepec de Morelos</b>
                                </p>
                                <ul class="listTemplate">
                                    <li>
                                        <p class="textTemplate-tn">
                                            Si eres de nuevo ingreso: 15-agosto-2022
                                        </p>
                                    </li>
                                    <li>
                                        <p class="textTemplate-tn">
                                            Si eres de tercer semestre: 16-agosto-2021
                                        </p>
                                    </li>
                                    <li>
                                        <p class="textTemplate-tn">
                                            Si eres de quinto semestre: 28-septiembre-2020
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="textTemplate-tn">
                    <b>NOTA: LOS BENEFICIARIOS SERÁN FAMILIARES DE PRIMERA LÍNEA (PADRES O HERMANOS MAYORES DE EDAD).</b>
                    <br><br>
                </p>
                <h3 class="subtitleTemplate-tn">ASIGNACIÓN DE NÚMERO DE SEGURIDAD SOCIAL (nuevo ingreso)</h3>
                <ul class="listTemplate" style="list-style: decimal;">
                    <li>
                        <p class="textTemplate-tn">
                            Ingresa al siguiente link: <a href="https://www.imss.gob.mx/" target="_blank" class="aElementTemplates">https://www.imss.gob.mx/</a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Da click en Vigencia de Derechos
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Ingresa los datos solicitados (CURP y correo electrónico PERSONAL). En este correo te llegará un enlace para que descargues dicho documento
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Imprime el documento
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Si no puedes hacer el trámite de manera digital, deberás acudir a la Subdelegación del IMSS que te corresponde para solicitar tu número de seguridad social como estudiante (deberás llevar tu hoja de inscripción al IPN, acta de nacimiento y CURP)
                        </p>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn">CONSTANCIA DE VIGENCIA DEL IMSS</h3>
                <ul class="listTemplate" style="list-style: decimal;">
                    <li>
                        <p class="textTemplate-tn">
                            Ingresa al siguiente link: <a href="https://www.imss.gob.mx/" target="_blank" class="aElementTemplates">https://www.imss.gob.mx/</a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Selecciona la sección de IMSS DIGITAL
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Da clic en Vigencia de Derechos
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Ingresa los datos solicitados
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Imprime el documento
                        </p>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn">NOTAS</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            NOTA: SI REALIZASTE TRÁMITE DE NÚMERO DE SEGURIDAD SOCIAL (<b>tercero y quinto semestre</b>), NO TENDRÁS PROBLEMA PARA OBTENER TU CONSTANCIA DE LO CONTRARIO TENDRÁS QUE SOLICITAR TU NÚMERO DE SEGURIDAD SOCIAL PRIMERO.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            NOTA: PARA <b>ALUMNOS DE NUEVO INGRESO</b>, SI ERES BENEFICIARIO DEL IMSS POR PARTE DE TUS PADRES O TUTORES, PUEDES CONSERVAR ESE NÚMERO, PERO SE TE INFORMA QUE AL CUMPLIR LOS <b>16 AÑOS</b> SE TE CANCELARÁ.
                        </p>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn" style="font-size: 22px;">AVISO PARA ALUMNOS DE NUEVO INGRESO</h3>
                <p class="textTemplate-tn">
                    Se te informa que del <b>22 de agosto</b> al <b>22 de septiembre del 2022</b> se abrirá la página del Sistema Institucional de Servicio Médico Integral (<b>SISMI</b>), en la cual deberás registrar los datos que se te solicitan. Después de esa fecha ya no se podrá realizar ningún registro. Es importante que realices dicho trámite lo más pronto posible, para darle continuidad a tu proceso de inscripción al instituto.
                </p>
                <p class="textTemplate-tn" style="text-align: center;">
                    <b>INFORMES:</b>
                    <br><br>
                    <b>55 56 24 20 00 EXT. 74038</b>
                    <br><br>
                    TURNO MATUTINO: <b><a href="mailto:servmed.cecyt3@gmail.com" target="_blank" class="aElementTemplates">servmed.cecyt3@gmail.com</a></b>
                    <br>
                    TURNO VESPERTINO: <b><a href="mailto:servmed.cecyt3.tv@gmail.com" target="_blank" class="aElementTemplates">servmed.cecyt3.tv@gmail.com</a></b>
                </p>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>