<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Becas | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <link rel="stylesheet" href="../../CSS/becas.css">
    <link rel="stylesheet" href="../../CSS/index/mainResponsive.css">
    <link rel="stylesheet" href="../../CSS/Slider/Slider.css">
    <link rel="stylesheet" href="../../CSS/Modals.css">
    <script src="../../JS/setItemsSliderBecas.js" defer></script>
    <script src="../../JS/Slider.js" defer></script>
    <script src="../../JS/modals.js" defer></script>
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="becas">
    <section class="previewImageSlider previewIS-I"></section>
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Becas</h3>
                </div>
            </div>
        </article>
    </section>
    <section class="sectionModal sectIL-I" data-identifier-modal="horarios">
        <nav class="navItemLinks">
            <h3 class="titleLinks">Horarios</h3>
            <ul class="listItemLinks">
                <a href="#" class="aElementLinks" target="_blank">
                    <li class="itemLinks">
                        <p class="textLinks">1ER SEMESTRE MATUTINO</p>
                    </li>
                </a>
            </ul>
        </nav>
    </section>
    <header></header>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Becas</h1>
        </section>
        <!-- SLIDER BECAS -->
        <section class="sectSliderM" data-dragging="false">
            <div class="contArrowSlider AS-L" data-last-image="">
                <img src="../../img/arrowSlider.png" alt="" class="arrowS imgAS-L">
            </div>
            <article class="artProgressSlider artProgressSlider-B">
                <div class="contNumPS">
                    <p class="textNumPS"></p>
                </div>
                <div class="contBallsPS">
                </div>
            </article>
            <article class="artContentSlider">
                <nav class="navContentS">
                    <ul class="listContentS">
                    </ul>
                </nav>
            </article>
            <div class="buttonShowContentS" data-current-position-image="">
                <img src="../../img/textVisible.png" alt="" class="imgBtnSCS imgBtnSCS-A">
                <p class="textBtnSCS">Ver imagen</p>
            </div>
            <div class="contArrowSlider AS-R" data-next-image="">
                <img src="../../img/arrowSlider.png" alt="" class="arrowS imgAS-R">
            </div>
        </section>
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">El CECYT NO.3 CUENTA CON DOS PROGRAMAS DE BECAS</h2>
            </article>
            <article class="articleCardsTemplate">
                <a href="../../Documents/Becas/1669-extra.pdf" class="aElement" target="_blank">
                    <div class="cardTemplate">
                        <img src="../../img/logo-ipn-b.webp" alt="" class="imgCardTemplate">
                        <p class="textCardTemplate">Beca Institucional</p>
                    </div>
                </a>
                <a href="https://www.gob.mx/becasbenitojuarez/articulos/becaria-y-becario-de-educacion-media-superior-cobras-por-app-bienestar-azteca?idiom=es" class="aElement" target="_blank">
                    <div class="cardTemplate">
                        <img src="../../img/logob.svg" alt="" class="imgCardTemplate" style="width: 7rem; padding: .45rem 0;">
                        <p class="textCardTemplate">Beca Benito Juárez (FEDERAL)</p>
                    </div>
                </a>
            </article>
            <a href="../../Documents/Becas/QUE ES UNA BECA BENITO JUAREZ E INSTITUCIONAL.pdf" target="_blank" class="aElementTemplates">
                <p class="textTemplate-tn">
                    <b>¿QUE ES LA BECA INSTITUCIONAL Y FEDERAL?</b>
                </p>
            </a>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn textCenter">BECA INSTITUCIONAL</h3>
                <br>
                <h3 class="subtitleTemplate-tn">FORMATOS:</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            Carta de Consentimiento para Dispersión de beca
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Formato de Aclaración de depósitos de beca
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Manual para reristro de cuenta bancaria por primera vez
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Formato de renuncia a Beca
                        </p>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn">HISTORIAL DE AVISOS - BECA INSTITUCIONAL</h3>
                <!-- PLANTILLA DE TABLA -->
                <div class="sectionTable">
                    <table class="tableTemplate">
                        <thead class="tableHeadTemplate">
                            <tr class="tableRowTemplate">
                                <th class="cellHeadT">
                                    <p class="textCellT">
                                        NOMBRE
                                    </p>
                                </th>
                                <th class="cellHeadT">
                                    <p class="textCellT">
                                        FECHA DE PUBLICACIÓN
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableBodyTemplate">
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Institucional/CARTA RENUNCIA INSTITUCIONAL.pdf" target="_blank" class="aElementTemplates">
                                            EJEMPLO CARTA RENUNCIA BECA INSTITUCIONAL
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        18-octubre-2022
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Institucional/CARTA RENUNCIA TRANSPORTE.pdf" target="_blank" class="aElementTemplates">
                                            EJEMPLO CARTA RENUNCIA BECA DE TRANSPORTE
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        18-octubre-2022
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Institucional/Cartarenuncia2023 UA.pdf" target="_blank" class="aElementTemplates">
                                            FORMATO CARTA RENUNCIA 2023
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                            18-octubre-2022
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Institucional/OTORGADAS 23-1 2.pdf" target="_blank" class="aElementTemplates">
                                            OTORGADAS 23-1 2
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        14-octubre-2022
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Institucional/OTORGADAS 23-1 3.pdf" target="_blank" class="aElementTemplates">
                                            OTORGADAS 23-1 3
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        14-octubre-2022
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Institucional/OTORGADAS 23-1 4.pdf" target="_blank" class="aElementTemplates">
                                            OTORGADAS 23-1 4
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        14-octubre-2022
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Institucional/OTORGADAS_23-2_1.pdf" target="_blank" class="aElementTemplates">
                                            OTORGADAS 23-2 1
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        08-Mayo-2023
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="subtitleTemplate-tn textCenter">BECA BENITO JUAREZ</h3>
                <br>
                <h3 class="subtitleTemplate-tn">HISTORIAL DE AVISOS - BECA BENITO JUAREZ</h3>
                <!-- PLANTILLA DE TABLA -->
                <div class="sectionTable">
                    <table class="tableTemplate">
                        <thead class="tableHeadTemplate">
                            <tr class="tableRowTemplate">
                                <th class="cellHeadT">
                                    <p class="textCellT">
                                        NOMBRE
                                    </p>
                                </th>
                                <th class="cellHeadT">
                                    <p class="textCellT">
                                        FECHA DE PUBLICACIÓN
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableBodyTemplate">
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Benito-juarez/requisitos ok.pdf" target="_blank" class="aElementTemplates">
                                            1. REQUSITOS
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        09-febrero-2023
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Benito-juarez/COMPROBANTE DE CITA.pdf" target="_blank" class="aElementTemplates">
                                            2. COMPROBANTE DE CITA
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        09-febrero-2023
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Benito-juarez/EJEMPLO DE LLENADO DEL FORMATO DE USO DE IMAGEN.pdf" target="_blank" class="aElementTemplates">
                                            3. EJEMPLO DE LLENADO DEL FORMATO DE USO DE IMAGEN
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        09-febrero-2023
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        <a href="../../Documents/Becas/Historial-avisos/Benito-juarez/AUTORIZACION DE USO DE IMAGEN.pdf" target="_blank" class="aElementTemplates">
                                            4. AUTORIZACIÓN DE USO DE IMAGEN
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT">
                                        09-febrero-2023
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="subtitleTemplate-tn textCenter">FORMATOS - CONTROLATORIA SOCIAL</h3>
                <ul class="listTemplate listDecimal">
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Becas/Anexo I. Modelo de Esquema de Contraloría Social (003) (002).pdf" target="_blank" class="aElementTemplates">
                                ESQUEMA
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Becas/Anexo II. Modelo de Guía Operativa de Contraloría Social_original.pdf" target="_blank" class="aElementTemplates">
                                GUÍA OPERATIVA
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Becas/Anexo VI. Programa Anual de Trabajo (1) (002).pdf" target="_blank" class="aElementTemplates">
                                PROGRAMA ANUAL
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Becas/contraloria-social22l.pdf" target="_blank" class="aElementTemplates">
                                DÍPTICO
                            </a>
                        </p>
                    </li>
                </ul>
                <p class="subtitleTemplate-tn textCenter">
                    <a href="#" target="_blank" class="aElementTemplates">
                        <b>INICIAR SESIÓN EN: SISTEMA INFORMÁTICO DE BECAS (SIBEC)</b>
                    </a>
                </p>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<!-- <div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script> -->
<!-- #endregion -->

<!-- <script src="../../JS/setContactUs.js"></script> -->
<div id="fb-root"></div>
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script> -->
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>