<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <link rel="stylesheet" href="../../CSS/gestion-escolar.css">
    <script src="../../JS/setInfoItems-Gestion-escolar.js" defer></script>
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="gestion-escolar">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Estudiantes</h3>
                </div>
            </div>
        </article>
    </section>
    <section class="sectItemLinks sectIL-I">
        <nav class="navItemLinks">
            <h3 class="titleLinks"></h3>
            <ul class="listItemLinks">

            </ul>
        </nav>
    </section>
    <header></header>
    <main>
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Gestión escolar</h1>
        </section>
        <section class="heroGestionEsc"></section>
        <section class="sectionGestionEsc">
            <article class="articleInfoGE">
                <article>
                    <section class="sectionTitleAreaGestion">
                        <h3>Subdireccion Académica</h3>
                        <img src="../../img/arrowMenu.png" alt="" class="img-sTAG">
                    </section>
                    <ul class="listGestionEsc listGE-I">
                        <li class="itemGE itemShowInfo">
                            <img src="../../img/imgGestion/discusion.png" alt="" class="imgItemGE">
                            <p class="textSubItemGE">
                                Asesorías
                            </p>
                        </li>
                        <li class="itemGE itemShowInfo">
                            <img src="../../img/imgGestion/calendario.png" alt="" class="imgItemGE">
                            <p class="textSubItemGE">
                                Horarios
                                <br>
                                <u>Ciclo Escolar 2023-2</u>
                            </p>
                        </li>
                        <a href="../../Documents/Gestion-escolar/revisionETS2023.pdf" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/lista-de-verificacion.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Solicitud de Revisión de Exámen ETS</p>
                            </li>
                        </a>
                        <a href="https://forms.gle/FEwtUyYm6wcGReqy5" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/examen.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Solicitud de exámen Saberes Adquiridos</p>
                            </li>
                        </a>
                    </ul>
                </article>
                <article>
                    <section class="sectionTitleAreaGestion">
                        <h3>Subdirección de Servicios Educativos</h3>
                        <img src="../../img/arrowMenu.png" alt="" class="img-sTAG">
                    </section>
                    <ul class="listGestionEsc listGE-I">
                        <a href="../../views/gestion-escolar/becas.html" class="aElement">
                            <li class="itemGE lastItemsGE">
                                <img src="../../img/imgGestion/beca.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Becas</p>
                            </li>
                        </a>
                        <a href="../../views/gestion-escolar/titulacion.html" class="aElement">
                            <li class="itemGE lastItemsGE">
                                <img src="../../img/imgGestion/certificado.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Titulación</p>
                            </li>
                        </a>
                        <a href="../../views/gestion-escolar/servicio-social.html" class="aElement">
                            <li class="itemGE lastItemsGE">
                                <img src="../../img/imgGestion/servicio-social.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Servicio Social</p>
                            </li>
                        </a>
                        <a href="../../Documents/Gestion-escolar/TripticoBullying.pdf" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/no-pelear.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">COSECOVI</p>
                            </li>
                        </a>
                        <a href="../gestion-escolar/cambio-de-turno.html" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/disponibilidad.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Cambio de turno</p>
                            </li>
                        </a>
                        <li class="itemGE itemShowInfo">
                            <img src="../../img/imgGestion/psicologia.png" alt="" class="imgItemGE">
                            <p class="textSubItemGE">Atención psicológica</p>
                        </li>
                        <a href="../../views/gestion-escolar/actividades-deportivas.html" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/deportes.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Actividades Deportivas</p>
                            </li>
                        </a>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdY5L0VwmZdP0PcqNoqCZXPz7n0N9PNGM6vHf0_QNd1LK5aDA/viewform" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/mascaras.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Difusión cultural CECyT 3</p>
                            </li>
                        </a>
                        <li class="itemGE itemShowInfo">
                            <img src="../../img/imgGestion/abajo.png" alt="" class="imgItemGE">
                            <p class="textSubItemGE">
                                Trámite de bajas
                                <br>
                                PERIODO 23-2
                            </p>
                        </li>
                        <a href="../../Documents/Gestion-escolar/credencial-carga-media.pdf" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/tarjeta-de-identificacion.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">
                                    Credencial Alumnos
                                    <br>
                                    <u>CARGA MEDIA</u>
                                </p>
                            </li>
                        </a>
                        <a href="../../views/servicios/servicio-medico.html" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/informe-medico.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Servicio Médico y Prestaciones</p>
                            </li>
                        </a>
                        <a href="../../Documents/Gestion-escolar/AVISO CREDENCIAL OK.pdf" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/tarjeta-de-identificacion (1).png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">
                                    Reposición de Credencial
                                    <br>
                                    <u>PERIODO 23-2</u>
                                </p>
                            </li>
                        </a>
                        <a href="../../Documents/Gestion-escolar/Directorio GE 23-2.pdf" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/correo.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">
                                    Directorio Gestión Escolar
                                    <br>
                                    <u>PERIODO 23-2</u>
                                </p>
                            </li>
                        </a>
                        <a href="../../views/gestion-escolar/saberes.html" class="aElement">
                            <li class="itemGE lastItemsGE">
                                <img src="../../img/imgGestion/examen.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Exámen de Saberes Previamente Adquiridos</p>
                            </li>
                        </a>
                        <li class="itemGE itemShowInfo">
                                <img src="../../img/imgGestion/mascarilla.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Plan Integral de Regreso a las Actividades Presenciales ( PIRAP )</p>
                        </li>
                        <a href="../../Documents/Gestion-escolar/TRAMITE DE CONSTANCIA-BOLETA.pdf" class="aElement">
                            <li class="itemGE">
                                <img src="../../img/imgGestion/codigo-de-barras.png" alt="" class="imgItemGE">
                                <p class="textSubItemGE">Trámite de <u>Constancia de estudios</u>, <u>Boleta global</u>, y <u>Boleta certificada</u></p>
                            </li>
                        </a>
                    </ul>
                </article>
            </article>
        </section>
    </main>
    <footer></footer>
</body>
<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>