<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio social | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="servicio-social">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Servicio Social</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Servicio Social</h1>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">TENER UN TÍTULO SIGNIFICA ACRECENTAR EL CURRICULUM VITAE Y CON ESTO, TENER UNA MAYOR POSIBILIDAD DE INGRESAR AL MERCADO LABORAL.</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <p class="textTemplate-tn">
                    El servicio social es una <b>ACTIVIDAD OBLIGATORIA</b> Y <b>TEMPORAL</b> EN BENEFICIO DE LA COMUNIDAD, Y NO DE PERSONA ALGUNA; que debe realizar toda persona que aspire a un Título Técnico o Profesional.
                </p>
                <h3 class="subtitleTemplate-tn titleCenter">
                    Es posible realizarlo en una de las siguientes modalidades dependiendo del sector seleccionado:
                </h3>
                <div class="sectionTable">
                    <table class="tableTemplate">
                        <thead class="tableHeadTemplate">
                            <tr class="tableRowTemplate">
                                <th class="cellHeadT">
                                    <p class="textCellT">Sector</p>
                                </th>
                                <th class="cellHeadT">
                                    <p class="textCellT">Modalidad</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableBodyTemplate">
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">Institucional</p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT textCenter">S.I</p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">Público</p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT textCenter">S.P</p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">Social</p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT textCenter">S.S</p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT">
                                    <p class="textCellT">Privado</p>
                                </td>
                                <td class="cellTableT">
                                    <p class="textCellT textCenter">S.B</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="textTemplate-tn">
                    Derivado de las observaciones de la Dirección de Egresados y Servicio Social ( <b>DEySS</b> ) del Instituto Politécnico Nacional, las participaciones de los estudiantes en las actividades como: <b>A LA CACHI CACHI PORRA, DEPORTIVAS, ENCUENTROS INTERPOLITÉCNICOS Y/O CULTURALES, NO PODRÁN SER CONSIDERADAS PARA LIBERACIÓN DEL SERVICIO SOCIAL</b>.
                    <br><br>
                    El aspirante a realizar servicio social debe tener como mínimo el <b>50%</b> de los <b>créditos escolares</b> y estar inscrito o bien ser egresado.
                    De esta manera el aspirante podrá realizar su servicio social en el lugar que haya elegido, siempre y cuando, el prestatario tenga un Convenio vigente en Materia de Servicio Social, registrado ante la Dirección de Egresados y Servicio Social del Instituto Politécnico Nacional.
                </p>
                <br>
                <h3 class="subtitleTemplate-tn">PROCEDIMIENTO</h3>
                <ul class="listTemplate listDecimal">
                    <li>
                        <p class="textTemplate-tn">
                            El prestador (persona que realizará su servicio social), debe buscar el lugar donde desea realizarlo, puede consultar las <a href="https://serviciosocial.ipn.mx/infoServSoc/InfoServSocListaPerfiles.do" target="_blank" class="aElementTemplates"><b>VACANTES POR PERFIL</b></a> en la plataforma del <a href="https://serviciosocial.ipn.mx/" target="_blank" class="aElementTemplates"><b>SISS</b></a>.
                            El CECyT No. 3 cuenta con programas de servicio social <b>PRESENCIALES</b> y <b>UNO A DISTANCIA</b>.
                        </p>
                        <h3 class="subtitleTemplate-tn" style="padding-top: 1.5rem;">PRESENCIALES</h3>
                        <ul class="listTemplate">
                            <li>
                                <p class="textTemplate-tn">Apoyo Docente del CECyT No. 3</p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">POLIEMPRENDE (Programa Institucional de Emprendedores) del CECyT No. 3</p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">Programa de Servicio Social en Nivelación Académica del CECyT No. 3</p>
                            </li>
                        </ul>
                        <h3 class="subtitleTemplate-tn" style="padding-top: 1.5rem;">A DISTANCIA</h3>
                        <ul class="listTemplate">
                            <li>
                                <p class="textTemplate-tn">Servicio Social Interno, apoyo a las Unidades Académicas y Administrativas a Distancia</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Una vez seleccionado el lugar donde se desea prestar el servicio, el prestador, tiene la obligación de entrevistarse con el personal responsable, para que le sea autorizada su participación como prestador de Servicio Social y acordar con él, su horario cubriendo las fechas que indica el <a href="https://www.cecyt3.ipn.mx/estudiantes/serviciosocial/actualizacion%202022/CALENDARIO%20SS%202022-2023.pdf" target="_blank" class="aElementTemplates">CALENDARIO DE SERVICIO SOCIAL</a>.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            El prestador tiene la obligación de recabar los siguientes documentos para poder realizar su registro:
                        </p>
                        <ul class="listTemplate listLetter">
                            <li>
                                <p class="textTemplate-tn">
                                    <a href="#" target="_blank" class="aElementTemplates">“Cédula de registro”</a>.
                                </p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">
                                    CURP, la puedes descargar en el siguiente enlace <a href="#" target="_blank" class="aElementTemplates">“https://www.gob.mx/curp/”</a>.
                                </p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">
                                    Constancia de estudios, solicitarla en la Ventanilla 4 del Departamento de Gestión Escolar, en los siguientes horarios:
                                </p>
                                <ul class="listTemplate">
                                    <li>
                                        <p class="textTemplate-tn">
                                            Turno Matutino: 10:00 am a 01:00 pm
                                        </p>
                                    </li>
                                    <li>
                                        <p class="textTemplate-tn">
                                            Turno Vespertino: 04:00 pm a 07:00 pm
                                        </p>
                                    </li>
                                </ul>
                                <p class="textTemplate-tn">
                                    Para el caso de los egresados ( <b>Boleta Global, Certificado o Carta de Pasante</b> ).
                                </p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">
                                    Constancia de Vigencia de Derechos del IMSS actualizada, si se encuentra asegurado por otra dependencia (ISSSTE, ISEMYM o algún Seguro de Gastos Mayores), es indispensable presentar una constancia la cual indique que actualmente cuenta con el derecho a dicho servicio.
                                </p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">
                                    En el caso de alumnos de 4to. semestre enviar <a href="#" target="_blank" class="aElementTemplates">“Solicitud de Autorización a la Comisión de Servicio Social del CECyT No. 3”</a> firmada por el alumno.
                                </p>
                            </li>
                        </ul>
                        <li>
                            <p class="textTemplate-tn">
                                El ASPIRANTE deberá llenar la <b>“Cédula de Registro”</b> con los siguientes datos:
                            </p>
                            <ul class="listTemplate">
                                <li>
                                    <p class="textTemplate-tn">
                                        Nombre del prestatario registrado ante la Dirección de Egresados y Servicio Social del IPN.
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        Nombre del programa registrado ante la Dirección de Egresados y Servicio Social del IPN.
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        Responsable del programa (el cual funge como aval de aceptación), incluyendo su cargo.
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        Responsable directo del prestador y cargo.
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        Dirección y teléfono del responsable directo del prestador.
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        Horario, fecha de inicio y término que deben ir acordes con el <a href="#" target="_blank" class="aElementTemplates">“Calendario de Servicio Social”</a>.
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="textTemplate-tn">
                                Realizar el <a href="#" target="_blank" class="aElementTemplates">PRE-REGISTRO EN EL SISS</a>. Es responsbilidad del estudiante, hacer el llenado correcto de los campos demandados en el pre-registro esto evitará el retraso del trámite ( <b>la cédula de registro te servirá para realizar el llenado</b> ). Anotar el nombre de usuario y contraseña que se genere al realizar el pre-registro, ya que con esto podrá entrar al SISS. Las fechas de inicio y término que deben ir acordes con el <a href="#" target="_blank" class="aElementTemplates">“Calendario de Servicio Social”</a>.
                            </p>
                        </li>
                        <li>
                            <p class="textTemplate-tn">
                                Después de haber realizado el pre-registro, el prestador deberá enviar al correo: <b>ralcantarac@ipn.mx Ricardo de Jesús Alcántara Cano</b> (indicando en el asunto del correo: <b>Registro de Servicio Social - su número de boleta - fecha de inicio</b>), en formato digital PDF en un solo archivo la siguiente documentación:
                            </p>
                            <ul class="listTemplate listLetter">
                                <li>
                                    <p class="textTemplate-tn">
                                        Cédula de registro.
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        CURP
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        Constancia de estudios.
                                        <br>
                                        Para el caso de los egresados enviar ( <b>Boleta Global, Certificado o Carta de Pasante</b> )
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        Constancia de Vigencia de Derechos del IMSS actualizada.
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="textTemplate-tn">
                                El <b>Departamento de Extensión y Apoyos Educativos (DEyAE)</b> validará el presente registro aproximadamente en 5 días hábiles, por lo cual el estudiante debe mantenerse atento al correo electrónico que registró en el <b>SISS, para que de la descarga de su carta compromiso</b>.
                            </p>
                        </li>
                        <li>
                            <p class="textTemplate-tn">
                                El estudiante que realice Servicio Social fuera del CECyT No. 3, debe solicitar al prestatario que lo acepte, para que pueda descargar la carta compromiso.
                            </p>
                        </li>
                        <li>
                            <p class="textTemplate-tn">
                                <b>IMPORTANTE: INTEGRAR UN SOLO EXPEDIENTE DIGITAL EN PDF:</b>
                            </p>
                            <ul class="listTemplate">
                                <li>
                                    <p class="textTemplate-tn">
                                        La carta compromiso por ambos lados.
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        El CURP.
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        La Constancia de estudios.
                                    </p>
                                </li>
                                <li>
                                    <p class="textTemplate-tn">
                                        La Constancia de vigencia de derechos del IMSS.
                                    </p>
                                </li>
                                <p class="textTemplate-tn">
                                    Enviarlo como respuesta al correo recibido de <b>ralcantarac@ipn.mx</b> Ricardo de Jesús Alcántara Cano.
                                </p>
                            </ul>
                            <p class="textTemplate-tn">
                                <b>NOTA:</b> ( Los alumnos de 4° semestre deberán anexar al inicio del archivo la autorización de la comisión de servicio social del CECyT No. 3, mismo que se les hará llegar por correo ).
                                <br><br>
                                <b>Estar atentos a las indicaciones de este departamento por si fuera necesario presentar en forma física la documentación enviada al correo antes mencionado; de ser así, la carta compromiso se deberá firmar por el prestador y recabar las firmas de aval de presentación y aval de aceptación, ya recabadas las firmas sacar 4 copias por ambos lados y entregarlas al Departamento de Extensión y Apoyos Educativos.</b>
                            </p>
                        </li>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn titleCenter" style="font-size: 17px; color: #682444;">RECUERDA QUE EL REGISTRO Y ENTREGA DE DOCUMENTOS TIENEN FECHA LIMITE ¡CONSULTA! EL CALENDARIO DE SERVICIO SOCIAL.</h3>
                <br>
                <h3 class="subtitleTemplate-tn">
                    OBLIGACIONES DEL PRESTADOR DE SERVICIO SOCIAL
                </h3>
                <ul class="listTemplate listDecimal">
                    <li>
                        <p class="textTemplate-tn">
                            El PRESTADOR debe iniciar su Servicio Social en la fecha marcada en la carta compromiso, <b>no está permitido adelantar horas de Servicio Social</b>.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Reportes de Servicio Social.
                        </p>
                        <ul class="listTemplate">
                            <li>
                                <p class="textTemplate-tn">
                                    <b>PROGRAMA A DISTANCIA:</b>
                                    <br>
                                    El prestador debe elaborar un ( MODALIDAD DISTANCIA ) FICHA REPORTE SEMANAL DE ACTIVIDADES, donde se registrarán dos actividades por semana, al término de cada mes estas serán capturadas en el ( MODALIDAD DISTANCIA ) REPORTE MENSUAL DE ACTIVIDADES.
                                    <br>
                                    En el último reporte mensual de Servicio Social lo cerrará con el día de terminación que marca la Carta Compromiso.
                                    <br><br>
                                    Al finalizar el servicio social, el prestador tendrá que elaborar un ( MODALIDAD DISTANCIA ) REPORTE GLOBAL DE ACTIVIDADES, mismo que será adjuntado al SISS, para ser validado por el responsable directo.
                                </p>
                                <p class="textTemplate-tn">
                                    <b>PROGRAMAS PRESENCIALES:</b>
                                    <br>
                                    El prestador cada mes debe elaborar un REPORTE MENSUAL DE ACTIVIDADES, acompañado de un CONTROL DE ASISTENCIA, cerrando cada reporte en el último día hábil de la quincena correspondiente, <b>ejemplo</b>:
                                </p>
                            </li>
                        </ul>
                        <div class="sectionTable">
                            <table class="tableTemplate">
                                <thead class="tableHeadTemplate">
                                    <tr class="tableRowTemplate">
                                        <th class="cellHeadT">
                                            <p class="textCellT">Fechas de Inicio</p>
                                        </th>
                                        <th class="cellHeadT">
                                            <p class="textCellT">Periodo a registrar en el Primer Reporte</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tableBodyTemplate">
                                    <tr class="tableRowTemplate">
                                        <td class="cellTableT">
                                            <p class="textCellT">01/febrero/2022</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter"><b>01/Febrero/2022</b> al <b>28/Febrero/2022</b></p>
                                        </td>
                                    </tr>
                                    <tr class="tableRowTemplate">
                                        <td class="cellTableT">
                                            <p class="textCellT">16/febrero/2022</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter"><b>16/febrero/2022</b> al <b>15/marzo/2022</b></p>
                                        </td>
                                    </tr>
                                    <tr class="tableRowTemplate">
                                        <td class="cellTableT">
                                            <p class="textCellT">01/abril/2022</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter"><b>01/marzo/2022</b> al <b>31/marzo/2022</b></p>
                                        </td>
                                    </tr>
                                    <tr class="tableRowTemplate">
                                        <td class="cellTableT">
                                            <p class="textCellT">17/abril/2022</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter"><b>16/marzo/2022</b> al <b>13/abril/2022</b></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="textTemplate-tn">
                            En el último reporte mensual de Servicio Social lo cerrará con el día de terminación que marca la Carta Compromiso.
                            <br><br>
                            En el reporte mensual, se registrarán los días de lunes a viernes; en los días inhábiles se colocará: suspensión de labores o vacaciones según corresponda.
                            <br><br>
                            <b>Ejemplo:</b> El día 21 de marzo del 2021 existió suspensión de labores.
                        </p>
                        <div class="sectionTable">
                            <table class="tableTemplate">
                                <thead class="tableHeadTemplate">
                                    <tr class="tableRowTemplate">
                                        <th class="cellHeadT textCenter">
                                            <p class="textCellT">Fecha</p>
                                        </th>
                                        <th class="cellHeadT textCenter">
                                            <p class="textCellT">Hora de entrada</p>
                                        </th>
                                        <th class="cellHeadT textCenter">
                                            <p class="textCellT">Hora de salida</p>
                                        </th>
                                        <th class="cellHeadT textCenter">
                                            <p class="textCellT">Hrs. por dia</p>
                                        </th>
                                        <th class="cellHeadT textCenter">
                                            <p class="textCellT">Firma</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tableBodyTemplate">
                                    <tr class="tableRowTemplate">
                                        <td class="cellTableT">
                                            <p class="textCellT">21/MAR/2021</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter" style="font-size: 14px;">SUSPENSIÓN DE LABORES</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter" style="font-size: 14px;">SUSPENSIÓN DE LABORES</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter" style="font-size: 14px;">SUSPENSIÓN DE LABORES</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter" style="font-size: 14px;">SUSPENSIÓN DE LABORES</p>
                                        </td>
                                    </tr>
                                    <tr class="tableRowTemplate">
                                        <td class="cellTableT">
                                            <p class="textCellT">22/MAR/2021</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">14:00</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">18:00</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">04</p>
                                        </td>
                                        <td class="cellTableT"></td>
                                    </tr>
                                    <tr class="tableRowTemplate">
                                        <td class="cellTableT">
                                            <p class="textCellT">23/MAR/2021</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">14:00</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">18:00</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">04</p>
                                        </td>
                                        <td class="cellTableT"></td>
                                    </tr>
                                    <tr class="tableRowTemplate">
                                        <td class="cellTableT">
                                            <p class="textCellT">24/MAR/2021</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">14:00</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">18:00</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">04</p>
                                        </td>
                                        <td class="cellTableT"></td>
                                    </tr>
                                    <tr class="tableRowTemplate">
                                        <td class="cellTableT">
                                            <p class="textCellT">25/MAR/2021</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">14:00</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">18:00</p>
                                        </td>
                                        <td class="cellTableT">
                                            <p class="textCellT textCenter">04</p>
                                        </td>
                                        <td class="cellTableT"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="textTemplate-tn">
                            El último reporte mensual de Servicio Social lo cerrará con el día de terminación que marca la Carta Compromiso.
                            <br><br>
                            Al finalizar el servicio social, el prestador tendrá que elaborar un REPORTE GLOBAL DE ACTIVIDADES, mismo que será adjuntado al SISS, para ser validado por el responsable directo.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            El estudiante solicitara a su responsable directo le envíe capturado y firmado por él, su <a href="#" target="_blank" class="aElementTemplates">FORMATO DE EVALUACIÓN DEL PRESTADOR DE SERVICIO SOCIAL</a> , recordar que ese documento, deberá ser adjuntado al SISS por el prestador.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            El prestador que realice su servicio social <b><u>modalidad presencial</u></b>, solicitara su carta de término al aval de aceptación y la enviara al correo <b>ralcantarac@ipn.mx</b> indicando en el asunto:
                        </p>
                        <h3 class="subtitleTemplate-tn" style="font-size: 16px;">
                            <br>
                            “LIBERACIÓN DE SERVICIO SOCIAL, SU NÚMERO DE BOLETA Y SU FECHA DE TÉRMINO”
                        </h3>
                        <p class="textTemplate-tn">
                            Adjuntando los siguientes documentos:
                        </p>
                        <ul class="listTemplate">
                            <li>
                                <p class="textTemplate-tn">
                                    Carta Compromiso por ambos lados.
                                </p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">
                                    Constancia de Estudios (la misma que ocupó para el inicio del trámite de servicio social), o una constancia actual, certificado, o carta de pasante.
                                </p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">
                                    Carta de término que te enviamos adjunta a este correo.
                                </p>
                            </li>
                        </ul>
                        <p class="textTemplate-tn">
                            El prestador que realice su servicio social <u>modalidad a distancia</u>, enviara al correo <b>ralcantarac@ipn.mx</b> un breve resumen (de 3 a 5 renglones) de las actividades que llevo a cabo en el tiempo de servicio social para asentarlo en tu carta de término, indicando en el asunto: <b>"SOLICITUD DE CARTA DE TÉRMINO, SU NÚMERO DE BOLETA Y SU FECHA DE TÉRMINO"</b>.
                            <br><br>
                            Una vez recibida, la enviara al correo ralcantarac@ipn.mx indicando en el asunto: <b>"LIBERACIÓN DE SERVICIO SOCIAL, SU NÚMERO DE BOLETA Y SU FECHA DE TÉRMINO"</b>.
                            <br><br>
                            Adjuntando los siguientes documentos:
                        </p>
                        <ul class="listTemplate">
                            <li>
                                <p class="textTemplate-tn">
                                    Carta Compromiso por ambos lados.
                                </p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">
                                    Constancia de Estudios (la misma que ocupó para el inicio del trámite de servicio social), o una constancia actual, certificado, o carta de pasante.
                                </p>
                            </li>
                            <li>
                                <p class="textTemplate-tn">
                                    Carta de término que te enviamos adjunta a este correo.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Informar al DEyAE cualquier situación anómala, que se presente durante todo el período de su Servicio Social.
                            <br>
                            <b>NOTA: El hecho de no haber subido al SISS los documentos antes mencionados y no ser validados por su responsable directo; limita a este departamento para poder gestionar ante la Dirección de Egresados y Servicio Social su "Constancia de Liberación de Servicio Social".</b>
                        </p>
                    </li>
                    <h3 class="subtitleTemplate-tn textCenter" style="color: #682444;">
                        <br>
                        ES OBLIGACIÓN DEL RESPONSABLE DIRECTO
                    </h3>
                    <ul class="listTemplate listDecimal">
                        <li>
                            <p class="textTemplate-tn">
                                Asignar las actividades de cada uno de los prestadores de Servicio Social y supervisar que las realice.
                            </p>
                        </li>
                        <li>
                            <p class="textTemplate-tn">
                                Verificar que el prestador cumpla con el horario y periodo establecido en la Carta Compromiso.
                            </p>
                        </li>
                        <li>
                            <p class="textTemplate-tn">
                                Validar los reportes mensuales y el reporte global de sus prestadores de Servicio Social, el no hacerlo afectara al proceso de liberación de Servicio Social de sus prestadores.
                            </p>
                        </li>
                    </ul>
                </ul>
            </article>
            <h3 class="subtitleTemplate-tn textCenter" style="color: #682444; padding: 1.75rem 1rem 0 1rem;">
                MAYOR INFORMACIÓN AL TEL: 57296000 EXT. 74015
            </h3>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>