<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulación | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Titulación</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Titulación</h1>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">¿QUÉ ES EL TÍTULO PROFESIONAL?</h3>
                <p class="textTemplate-tn">
                    Documento expedido por instituciones educativas del estado, descentralizado o autónomas, así como por instituciones particulares que imparten programas académicos que cuenten con acuerdo de reconocimiento de Validez oficial de estudios (REVOE), otorgado por el IPN o instituciones facultadas para ello a favor de la persona que haya:
                    <br>
                    <b>Resultado aprobado en el acto recepcional.</b>
                    <br><br>
                    <b>RECUERDA</b>
                    <br>
                    La titulación como técnico en el nivel medio superior es el paso terminal de tu formación en alguna de las especialidades de nuestro centro de estudios.La importancia estriba en el sentido de profesionalización y especialización que adquirirás al elegir y tramitar tu titulación para tu beneficio profesional, del plantel, de tu instituto y de tu país.
                </p>
                <br>
                <h3 class="subtitleTemplate-tn">¿QUÉ ES LA CÉDULA PROFESIONAL?</h3>
                <p class="textTemplate-tn">
                    Documento que avala la legalidad del ejercicio profesional; es expedido por la Dirección General de Profesiones de la Secretaría de Educación Pública
                </p>
                <br>
                <h3 class="subtitleTemplate-tn">¿QUÉ SIGNIFICA TITULARSE?</h3>
                <p class="textTemplate-tn">
                    Documento que avala la legalidad del ejercicio profesional; es expedido por la Dirección General de Profesiones de la Secretaría de Educación Pública
                </p>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            El grado máximo que puede obtener un alumno académicamente.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Adquirir el grado de técnico a Nivel Medio Superior con una especialidad.
                        </p>
                    </li>
                    <br>
                    <h3 class="subtitleTemplate-tn">OBJETIVOS</h3>
                    <li>
                        <p class="textTemplate-tn">
                            Crear en el alumno un compromiso y responsabilidad con la sociedad.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Dar la oportunidad para que se aumenten sus alternativas en el campo laboral con mejores condiciones salariales.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Facilitar a los titulados la posibilidad de ser emprendedores, para que ellos mismos formen su propia empresa de acuerdo al área de su especialidad.
                        </p>
                    </li>
                    <br>
                </ul>
                <h3 class="subtitleTemplate-tn textCenter">
                    <a href="../../Documents/Titulacion/REGLAMENTO DE TITULACION PROFESIONAL DEL IPN.pdf" target="_blank" class="aElementTemplates">REGLAMENTO DE TITULACIÓN PROFESIONAL DEL IPN</a>
                </h3>
                <br>
                <h3 class="subtitleTemplate-tn">DESCARGAR FORMATOS:</h3>
                <ul class="listTemplate listDecimal">
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Titulacion/TRIPTICO 2022 SGOE.pdf" target="_blank" class="aElementTemplates">
                                <b>Triptico TITULACIÓN 2023</b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Titulacion/PSC-10-F01Solicitud de Registro y Aprobación de Opciones de Titulación Profesional - Tesis_Mem_Proy (1).pdf" target="_blank" class="aElementTemplates">
                                <b>Solicitud de Registro y Aprobación de la Opción de Titulación 2023</b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Titulacion/pago titulacion 2023.pdf" target="_blank" class="aElementTemplates">
                                <b>CUOTA PARA EXAMEN PROFESIONAL 2023</b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Titulacion/PROCEDIMIENTO PARA LA TOMA DE PROTESTA 2023.pdf" target="_blank" class="aElementTemplates">
                                <b>PROCEDIMIENTO PARA LA TOMA DE PROTESTA</b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Titulacion/GUIA DE LLENADO 2023.pdf" target="_blank" class="aElementTemplates">
                                <b>GUIA DE LLENADO "Solicitud de Registro y Aprobación de la Opción de Titulación"</b>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            <a href="../../Documents/Titulacion/formas titulacion.pdf" target="_blank" class="aElementTemplates">
                                <b>FORMAS DE TITULACIÓN</b>
                            </a>
                        </p>
                    </li>
                </ul>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>