<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red de Género | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/red-de-genero/index.css">
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="red-de-genero">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Red de Género</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <!-- INSERTAR EL CONTENIDO -->
    
        <section class="contMain">
            <section class="sectionMainTitle documentObjectGuide">
                <h1 class="mainTitle">Red de Género</h1>
            </section>
            <section class="sectionMainInfo">
                <!-- ARTICLE HOME -->
                <article class="articleHome" id="articleHome">
                    <div class="contInfoAH">
                        <div class="contImgInfoAH">
                            <img src="../../img/img-Red-de-Genero/logo_redes_800x800.png" alt="" class="imgInfoAh">
                        </div>
                        <div class="contTextInfoAH">
                            <h2 class="titleInfoAH">¿Qué son las redes de género?</h2>
                            <p class="textInfoAH">
                                Las Redes de Género son un conjunto de personas interrelacionadas entre sí, que pertenecen a cada uno de los centros y unidades que conforman el Instituto Politécnico Nacional, incluyendo las de diversas zonas geográficas de la República Mexicana; y desempeñan diversas acciones con la finalidad de contribuir en la integración del enfoque de género en el quehacer institucional.
                            </p>
                        </div>
                    </div>
                    <div class="contVideoAH">
                        <video src="../../Videos/acoso.mp4" autoplay preload="auto" muted loop class="videoArticleHome"></video>
                    </div>
                </article>
                <!-- ARTICLE SIDE TO SIDE -->
                <article class="articleInfoSide">
                    <div class="contInfoSI">
                        <div class="contTextInfoSI">
                            <h2 class="titleSectionInfo">Origen de las redes de género</h2>
                            <p class="textSectionInfo">
                                Si bien las Redes de Género se propusieron desde el año 2012 por la UPGPG como una estrategia de impacto para la comunidad politécnica, han sido sus coordinaciones e integrantes –estudiantes, docentes, personal directivo y personal administrativo– quienes las confeccionan a partir de su propia realidad, convirtiéndose en aquellos espacios de coincidencia que requiere la Unidad para reforzar metas, compartir experiencias, exponer nuevas oportunidades de aprendizaje y abrir canales de comunicación.
                            </p>
                        </div>
                        <div class="contImgSI">
                            <img src="../../img/img-Red-de-Genero/PerpecGenero.png" alt="" class="imgSectionInfo">
                        </div>
                    </div>
                </article>
                <!-- ARTICLE OBJECTIVE -->
                <article class="articleObjective" id="articleObjective">
                    <div class="contInfoObjective">
                        <div class="contTitleObjective">
                            <h3 class="titleObjective">Objetivo</h3>
                        </div>
                        <div class="contTextObjective">
                            <p class="textObjective">
                                Promover la participación de sus estudiantes y trabajadores/as, en la construcción de una cultura de igualdad y buen trato en los espacios educativos y laborales a través de actividades de sensibilización, capacitación, difusión y promoción de tal manera que sus logros permiten, en gran medida, responder a programas institucionales como a compromisos nacionales e internacionales en materia de igualdad, no violencia y no discriminación.
                            </p>
                        </div>
                    </div>
                    <div class="listBackground">
                        <div class="contListBackground">
                            <div class="contTitleListBackground">
                                <h4 class="titleListBackground">Algunas de sus funciones principales son:</h4>
                            </div>
                            <ul class="listItemBackground">
                                <li class="itemListBackground">
                                    <img src="../../img/img-Red-de-Genero/igualdad.png" alt="" class="imgItemBackground">
                                    <p class="textItemBackground">
                                        1. Fomentar espacios de sensibilización, capacitación, difusión y promoción con perspectiva de género que fomenten la diversidad e igualdad de oportunidades.
                                    </p>
                                </li>
                                <li class="itemListBackground">
                                    <img src="../../img/img-Red-de-Genero/noviolencia.png" alt="" class="imgItemBackground">
                                    <p class="textItemBackground">
                                        2. Promover acciones de prevención, atención y erradicación contra la violencia y discriminación tanto en el ámbito educativo como laboral.
                                    </p>
                                </li>
                                <li class="itemListBackground">
                                    <img src="../../img/img-Red-de-Genero/meta.png" alt="" class="imgItemBackground">
                                    <p class="textItemBackground">
                                        3. Contribuir con la Unidad en el desarrollo de sus metas y funciones, así como aquellas que les sean encomendadas de manera específica.
                                    </p>
                                </li>
                                <li class="itemListBackground">
                                    <img src="../../img/img-Red-de-Genero/inclusion.png" alt="" class="imgItemBackground">
                                    <p class="textItemBackground">
                                        4. Promover el uso de un lenguaje incluyente y no sexista en la comunicación institucional escrita, verbal, no verbal y gráfica.
                                    </p>
                                </li>
                                <li class="itemListBackground">
                                    <img src="../../img/img-Red-de-Genero/formacion.png" alt="" class="imgItemBackground">
                                    <p class="textItemBackground">
                                        5. Participar en las acciones de formación diseñadas por la Unidad y dirigidas a sus coordinaciones e integrantes.
                                    </p>
                                </li>
                                <li class="itemListBackground">
                                    <img src="../../img/img-Red-de-Genero/indicadores.png" alt="" class="imgItemBackground">
                                    <p class="textItemBackground">
                                        6. Apoyar el cumplimiento de indicadores institucionales con perspectiva de género.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <!-- ARTICLE VISION -->
                <article class="articleVision" id="articleVision">
                    <div class="contInfoVision">
                        <div class="contImageVision">
                            <img src="../../img/img-Red-de-Genero/logro.png" alt="" class="imgVision">
                        </div>
                        <div class="contTextVision">
                            <h3 class="titleVision">Misión</h3>
                            <p class="textVision">
                                Promover en el Instituto Politécnico Nacional una cultura de igualdad, inclusión, respeto y no violencia que asegure la formación integral de sus estudiantes y trabajadoras/es, lo anterior bajo criterios de transversalidad e institucionalización en sus políticas, proyectos, planes y programas de estudio.
                            </p>
                        </div>
                    </div>
                    <div class="contInfoVision">
                        <div class="contImageVision">
                            <img src="../../img/img-Red-de-Genero/vision-compartida.png" alt="" class="imgVision">
                        </div>
                        <div class="contTextVision">
                            <h3 class="titleVision">Visión</h3>
                            <p class="textVision">
                                Reconocer al Instituto Politécnico Nacional como una Institución de Educación Superior a la vanguardia en su gestión con perspectiva de género y desarrollo de acciones encaminadas a acelerar la igualdad entre mujeres y hombres.
                            </p>
                        </div>
                    </div>
                </article>
            </section>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLATINLLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>