<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../../img/logoC3.png" type="image/x-icon">
    <script src="../../../JS/Header.js" defer></script>
    <script src="../../../JS/menusHeaderC3.js" defer></script>
    <script src="../../../JS/Loading.js" defer></script>
    <script src="../../../JS/menusHeaderGob.js" defer></script>
    <script src="../../../JS/clockHeaderC3.js" defer></script>
    <script src="../../../JS/newUserAgent.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    
</head>
<body id="inicio">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">¡Bienvenido!</h3>
                </div>
            </div>
        </article>
    </section>
    <section class="askUserHour askUH-I">
        <div class="contTextUserHour">
            <h3 class="titleUserHour titleUH-A">¡Hola!</h3>
            <h4 class="subtitleUserHour subTUH-A">
                No tenemos registro de este usuario
                <br>
                ¿La hora es correcta?
            </h4>
            <h4 class="subtitleSummerUserHour subTSUH-I">
                ¿Ahora es correcta?
            </h4>
            <p class="textUserHour textUH-A"></p>
            <p class="textUserSummerHour textUSM-I"></p>
        </div>
        <div class="contBtnUserHour">
            <input type="button" value="Sí" class="btnUserHour">
            <input type="button" value="No" class="btnUserHour">
        </div>
    </section>
    <header></header>
    <main>

    </main>
    <footer></footer>
</body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../../JS/plantillas/plantilla-hijo-hijo-hijo.js"></script>
<script src="../../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>