<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <script src="../../JS/plantillas/bntShowImage.js" defer></script>
</head>
<body id="plantilla">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">¡Bienvenido!</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <!-- SECCION "MOSTRAR IMAGEN" -->
    <!-- DEBE DE IR FUERA DE LA ETIQUETA <main> -->
    <!-- DESPUES IMPORTAR EL ARCHIVO JS LLAMADO "bntShowImage.js" EN LA CARPETA "plantillas" -->
    <section class="sectionShowImageTemplate sSIT-I">
        <img src="" alt="" class="imgShowTemplate">
    </section>
    <main>
        <!-- ELEMENTO ANCHOR -->
        <a href="#" target="_blank" class="aElementTemplates"></a>
        <!-- PLANTILLA DE LISTA -->
        <ul class="listTemplate">
            <li>
                <p class="textTemplate-tn">
                    
                </p>
            </li>
        </ul>
        <!-- PLANTILLA DE TABLA -->
        <div class="sectionTable">
            <table class="tableTemplate">
                <thead class="tableHeadTemplate">
                    <tr class="tableRowTemplate">
                        <th class="cellHeadT">
                            <p class="textCellT"></p>
                        </th>
                    </tr>
                </thead>
                <tbody class="tableBodyTemplate">
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT"></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- PLANTILLA DE CARDS O TARJETAS-->
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">PLANTILLA CARDS / TARJETAS</h2>
            </article>
            <article class="articleCardsTemplate">
                <a href="#" class="aElement" target="_blank">
                    <div class="cardTemplate">
                        <img src="../../img/logo-ipn-b.webp" alt="" class="imgCardTemplate">
                        <p class="textCardTemplate">TARJETA</p>
                    </div>
                </a>
            </article>
        </section>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Plantillas</h1>
        </section>
        <!-- PLANTILLA TEXTO-IZQUIERDA Y TEXTO-DERECHA -->
        <section class="template-textL-textR">
            <article class="articleTitleTemplate-tl-tr">
                <h2 class="titleTemplate-tl-tr">PLANTILLA TEXTO IZQUIERDA Y TEXTO DERECHA</h2>
            </article>
            <article class="articleContentTemplate-tl-tr">
                <div class="contText-template-tl-tr">
                    <h3 class="subtitleTemplate-tl-tr">TEXTO IZQUIERDO</h3>
                    <p class="textTemplate-tl-tr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto itaque assumenda harum illo voluptatem ab nam quasi, tempore, magnam soluta ipsam laborum ea suscipit et, laboriosam eaque enim! Vel, debitis.
                    Quam neque dignissimos ipsum assumenda alias, distinctio quos, eveniet, voluptatibus corrupti sint provident perferendis porro. Expedita officiis nesciunt quia facere quis doloribus cupiditate minima provident necessitatibus deleniti, nobis pariatur earum!
                    Deserunt blanditiis similique iure repellendus alias ipsum magni, doloribus recusandae dolor dicta commodi dolores saepe omnis, odit pariatur itaque natus harum, exercitationem veniam necessitatibus! Id labore rem eaque iste fugiat?</p>
                </div>
                <div class="contText-template-tl-tr">
                    <h3 class="subtitleTemplate-tl-tr">TEXTO DERECHO</h3>
                    <p class="textTemplate-tl-tr">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, voluptate et fuga distinctio ea odit quae velit aliquam perspiciatis, asperiores cum magnam consequatur suscipit facilis doloremque facere. Repellendus, modi perspiciatis.
                    Repudiandae obcaecati laudantium, blanditiis explicabo fugit ipsum id atque quasi commodi eaque fugiat dolore porro! Nihil nemo, impedit enim qui dolore voluptatem nisi distinctio consequuntur esse? Natus repellat dolorem non!
                    Aliquid nostrum illo inventore neque laudantium aut labore quasi omnis quos, quidem tempore nobis suscipit nihil ratione odio, libero, assumenda ipsam voluptatum. Rerum dignissimos, minus quo laudantium maiores debitis tenetur?</p>
                </div>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">PLANTILLA TEXTO SOLO / NORMAL</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">TEXTO DESCRIPTIVO</h3>
                <p class="textTemplate-tn">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nam distinctio ex debitis dolore vitae cumque numquam sit nemo rerum, velit, alias at veritatis sed incidunt iure quas fugit temporibus.
                Voluptatum laudantium laboriosam alias maiores excepturi cumque expedita eligendi eius debitis quibusdam saepe corrupti, ducimus qui voluptates nihil similique dolor eum deleniti assumenda tenetur. Eum, odio. Repudiandae quia cumque consequuntur.
                    Earum quis magnam deleniti eligendi doloremque a similique unde, distinctio molestias omnis. Minima et eveniet ut maxime cupiditate ipsam sequi nesciunt cumque nisi veniam voluptates iusto quod, dicta quam. Consequatur.
                </p>
            </article>
        </section>
        <!--PLANTILLA SOLO IMAGEN, INSERTAR LA SECCION "MOSTRAR IMAGEN" SOLO UNA VEZ-->
        <section class="template-imgN">
            <article class="articleTitleTemplate-in">
                <h2 class="titleTemplate-in">PLANTILLA SOLO IMAGEN</h2>
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Conocenos/cecyt_photo.jpg" alt="" class="imgTemplate-in">
                <p class="textTemplate-in">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias non nobis dolore officiis eveniet recusandae quisquam, et harum blanditiis aut veniam, facilis nihil necessitatibus vel cupiditate cumque aliquam, fuga hic.
                Porro, id quam dolor architecto tenetur doloremque veritatis aspernatur quis! Accusamus dolorem molestiae consequatur non dicta voluptates rerum autem quos nam aliquid. Voluptatum magnam ipsum, possimus molestias ratione quod nisi?
                Architecto illum ullam perferendis sequi vitae facilis. Rerum corporis expedita porro omnis dolores nesciunt doloremque dignissimos! Amet corporis rerum vero ipsam, cumque qui incidunt consequuntur quo impedit quibusdam obcaecati vel.</p>
            </article>
        </section>
        <!-- PLANTILLA SOLO VIDEO -->
        <section class="template-videoN">
            <article class="articleTitleTemplate-vn">
                <h2 class="titleTemplate-vn">PLANTILLA SOLO VIDEO</h2>
            </article>
            <article class="articleContentTemplate-vn">
                <video src="../../Videos/acoso.mp4" class="videoTemplate-vn"></video>
                <div class="articleDescriptionTemplate-vn">
                    <p class="textTemplate-vn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias non nobis dolore officiis eveniet recusandae quisquam, et harum blanditiis aut veniam, facilis nihil necessitatibus vel cupiditate cumque aliquam, fuga hic.
                    Porro, id quam dolor architecto tenetur doloremque veritatis aspernatur quis! Accusamus dolorem molestiae consequatur non dicta voluptates rerum autem quos nam aliquid. Voluptatum magnam ipsum, possimus molestias ratione quod nisi?
                    Architecto illum ullam perferendis sequi vitae facilis. Rerum corporis expedita porro omnis dolores nesciunt doloremque dignissimos! Amet corporis rerum vero ipsam, cumque qui incidunt consequuntur quo impedit quibusdam obcaecati vel.</p>
                </div>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-IZQUIERDA E IMAGEN-DERECHA -->
        <section class="template-textL-imgR">
            <article class="articleTitleTemplate-tl-ir">
                <h2 class="titleTemplate-tl-ir">PLANTILLA TEXTO IZQUIERDA E IMAGEN DERECHA</h2>
            </article>
            <article class="articleContentTemplate-tl-ir">
                <div class="contText-template-tl-ir">
                    <h3 class="subtitleTemplate-tl-ir">TEXTO DESCRIPTIVO</h3>
                    <p class="textTemplate-tl-ir">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas asperiores, pariatur ut eius, laboriosam doloremque voluptatem perferendis delectus facere, similique fuga aliquam nostrum! Molestias sapiente, blanditiis in accusantium sed inventore.
                    Nostrum laboriosam illo harum possimus neque debitis placeat ut voluptatum. Voluptatum, ipsam fuga tempora porro dignissimos ea libero, tenetur ut cumque esse nemo nihil quasi officiis quaerat magni corporis hic!
                    Ea totam error perferendis, voluptatem velit corporis aliquam animi sapiente accusantium repudiandae iste molestiae doloribus neque ipsum ab tenetur, officiis voluptatum, alias nostrum. Dolorum nesciunt inventore magni ut nulla necessitatibus!</p>
                </div>
                <div class="contImg-template-tl-ir">
                    <img src="../../img/img-Red-de-Genero/indicadores.png" alt="" class="imgTemplate-tl-ir">
                </div>
            </article>
        </section>
        <!-- PLANTILLA IMAGEN-IZQUIERDA Y TEXTO-DERECHA -->
        <section class="template-imgL-textR">
            <article class="articleTitleTemplate-il-tr">
                <h2 class="titleTemplate-il-tr">PLANTILLA IMAGEN IZQUIERDA Y TEXTO DERECHA</h2>
            </article>
            <article class="articleContentTemplate-il-tr">
                <div class="contImg-template-il-tr">
                    <img src="../../img/img-Red-de-Genero/indicadores.png" alt="" class="imgTemplate-il-tr">
                </div>
                <div class="contText-template-il-tr">
                    <h3 class="subtitleTemplate-il-tr">TEXTO DESCRIPTIVO</h3>
                    <p class="textTemplate-il-tr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur saepe natus asperiores tenetur aliquam beatae autem quibusdam, neque fugiat sed perspiciatis similique a, ea nostrum aliquid doloremque, labore impedit.
                    Quae velit ea dolore delectus repellendus voluptatibus totam voluptate natus nemo sint veritatis aspernatur saepe sequi, temporibus cum ut inventore minus odit numquam quidem! Cum deleniti beatae recusandae? Provident, culpa.
                    Maxime non optio recusandae consectetur amet ipsa blanditiis numquam minima libero quae odio eveniet earum exercitationem rerum, et officia porro. Obcaecati perspiciatis commodi sunt, magnam aperiam aut fuga saepe corporis.</p>
                </div>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-IZQUIERDA Y VIDEO-DERECHA -->
        <section class="template-textL-videoR">
            <article class="articleTitleTemplate-tl-vr">
                <h2 class="titleTemplate-tl-vr">PLANTILLA TEXTO IZQUIERDA Y VIDEO DERECHA</h2>
            </article>
            <article class="articleContentTemplate-tl-vr">
                <div class="contText-template-tl-vr">
                    <h3 class="subtitleTemplate-tl-vr">TEXTO DESCRIPTIVO</h3>
                    <p class="textTemplate-tl-vr">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, omnis. In unde excepturi quam dicta optio suscipit facilis, necessitatibus est fugit cupiditate ratione culpa quibusdam consequuntur quo, impedit quas illum!
                    Quas nostrum modi, necessitatibus suscipit assumenda nesciunt voluptatum sapiente ab perspiciatis quam, numquam aut ipsum pariatur? Vero recusandae nemo alias laborum itaque repellat consequatur placeat dolor, numquam quia, cum nostrum.
                    Porro, ipsam doloremque aliquam eius corrupti odio blanditiis? Eveniet aut, molestias velit architecto reiciendis facere asperiores animi quaerat perferendis, sit, vero maxime. Deleniti quibusdam necessitatibus qui exercitationem accusamus ad sit!</p>
                </div>
                <div class="contVideo-template-tl-vr">
                    <video src="../../Videos/acoso.mp4" autoplay muted loop class="videoTemplae-tl-tr"></video>
                </div>
            </article>
        </section>
        <!-- PLANTILLA VIDEO-IZQUIERDA Y TEXTO-DERECHA -->
        <section class="template-videoL-textR">
            <article class="articleTitleTemplate-vl-tr">
                <h2 class="titleTemplate-vl-tr">PLANTILLA TEXTO IZQUIERDA Y VIDEO DERECHA</h2>
            </article>
            <article class="articleContentTemplate-vl-tr">
                <div class="contVideo-template-vl-tr">
                    <video src="../../Videos/acoso.mp4" autoplay muted loop class="videoTemplae-tl-tr"></video>
                </div>
                <div class="contText-template-vl-tr">
                    <h3 class="subtitleTemplate-vl-tr">TEXTO DESCRIPTIVO</h3>
                    <p class="textTemplate-vl-tr">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, omnis. In unde excepturi quam dicta optio suscipit facilis, necessitatibus est fugit cupiditate ratione culpa quibusdam consequuntur quo, impedit quas illum!
                    Quas nostrum modi, necessitatibus suscipit assumenda nesciunt voluptatum sapiente ab perspiciatis quam, numquam aut ipsum pariatur? Vero recusandae nemo alias laborum itaque repellat consequatur placeat dolor, numquam quia, cum nostrum.
                    Porro, ipsam doloremque aliquam eius corrupti odio blanditiis? Eveniet aut, molestias velit architecto reiciendis facere asperiores animi quaerat perferendis, sit, vero maxime. Deleniti quibusdam necessitatibus qui exercitationem accusamus ad sit!</p>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>