<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directorio | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->
    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="directorio">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Directorio</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Directorio</h1>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">Directorio Telefónico y Correo</h2>
                    <p class="textTemplate-tn">
                        <b>Marcar a: <a href="tel:5557296000" class="aElementTemplates">55 5729 6000</a>, <a href="tel:5557296300" class="aElementTemplates">55 5729 6300</a>, <a href="tel:5556242000" class="aElementTemplates">55 5624 2000</a></b>
                    </p>
            </article>
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">Dirección</h3>
                <!-- PLANTILLA DE TABLA -->
                <div class="sectionTable sectionTableDirectorio">
                    <table class="tableTemplate tableTemplateDir">
                        <thead class="tableHeadTemplate">
                            <tr class="tableRowTemplate">
                                <th class="cellHeadT textLeftCell cellHeadDir">
                                    <p class="textCellT">
                                        Nombre
                                    </p>
                                </th>
                                <th class="cellHeadT cellHeadDir">
                                    <p class="textCellT">
                                        Extensión
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableBodyTemplate">
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>M. EN E. JOSÉ DIEGO RUBÉN AGUILA CHÁVEZ</b>
                                        <br>
                                        DIRECTOR
                                        <br>
                                        <a href="mailto:cecyt3@ipn.mx" target="_blank" class="aElementTemplates">
                                            cecyt3@ipn.mx
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74004
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>LIC. JARUMI LIZZETTE PANO DÍAZ</b>
                                        <br>
                                        COORD. DE ENLACE Y GESTIÓN TÉCNICA
                                        <br>
                                        <a href="mailto:ceget.cecyt3@ipn.mx" target="_blank" class="aElementTemplates">
                                            ceget.cecyt3@ipn.mx
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74020
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>LIC. ERIK BENJAMIN HERRERA LÓPEZ</b>
                                        <br>
                                        UNIDAD DE INFORMÁTICA
                                        <br>
                                        <a href="mailto:udi.cecyt3@ipn.mx" target="_blank" class="aElementTemplates">
                                        udi.cecyt3@ipn.mx
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74050
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>QUÍM. OTILIA TORRES VIVANCO</b>
                                        <br>
                                        DECANATO
                                        <br>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74019
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="subtitleTemplate-tn">Subdirección Administrativa</h3>
                <!-- PLANTILLA DE TABLA -->
                <div class="sectionTable sectionTableDirectorio">
                    <table class="tableTemplate tableTemplateDir">
                        <thead class="tableHeadTemplate">
                            <tr class="tableRowTemplate">
                                <th class="cellHeadT textLeftCell cellHeadDir">
                                    <p class="textCellT">
                                        Nombre
                                    </p>
                                </th>
                                <th class="cellHeadT cellHeadDir">
                                    <p class="textCellT">
                                        Extensión
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableBodyTemplate">
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>DRA. MAGDALENA MIREYA SOSA NÚÑEZ</b>
                                        <br>
                                        SUBDIRECCIÓN ADMINISTRATIVA
                                        <br>
                                        <a href="mailto:subadmin.cecyt3@ipn.mx" target="_blank" class="aElementTemplates">
                                            subadmin.cecyt3@ipn.mx
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74025
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>LIC. RAQUEL GRISEL GÓMEZ GODÍNEZ</b>
                                        <br>
                                        DEPTO. DE CAPITAL HUMANO
                                        <br>
                                        <a href="mailto:dch.cecyt3@ipn.mx" target="_blank" class="aElementTemplates">
                                            dch.cecyt3@ipn.mx
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74040
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>M.A.N. MÓNICA ALEJANDRA GARCÍA MUÑOZ</b>
                                        <br>
                                        DEPTO. DE RECURSOS FINANCIEROS
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74029
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>ING. JUAN ALBERTO MONTAÑO ARCHUNDIA</b>
                                        <br>
                                        DEPTO. DE RECURSOS MATERIALES Y SERVICIOS
                                        <br>
                                        <a href="mailto:remys.cecyt3@ipn.mx" target="_blank" class="aElementTemplates">
                                            remys.cecyt3@ipn.mx
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74037
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="subtitleTemplate-tn">Subdirección Académica</h3>
                <!-- PLANTILLA DE TABLA -->
                <div class="sectionTable sectionTableDirectorio">
                    <table class="tableTemplate tableTemplateDir">
                        <thead class="tableHeadTemplate">
                            <tr class="tableRowTemplate">
                                <th class="cellHeadT textLeftCell cellHeadDir">
                                    <p class="textCellT">
                                        Nombre
                                    </p>
                                </th>
                                <th class="cellHeadT cellHeadDir">
                                    <p class="textCellT">
                                        Extensión
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableBodyTemplate">
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>M. EN E. ALEJANDRINA GONZÁLEZ MORALES</b>
                                        <br>
                                        SUBDIRECCIÓN ACADÉMICA
                                        <br>
                                        <a href="mailto:subacad.cecyt3@ipn.mx" target="_blank" class="aElementTemplates">
                                            subacad.cecyt3@ipn.mx
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74013
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>M. EN C. VIRIDIANA VIVEROS CHÁVEZ</b>
                                        <br>
                                        DEPTO. DE UNIDADES DE APRENDIZAJE DEL ÁREA BÁSICA
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74032
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>M. EN E. JUAN FELIPE VAZQUEZ VERGARA</b>
                                        <br>
                                        DEPTO. DE UNIDADES DE APRENDIZAJE DEL ÁREA HUMANÍSTICA
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74067
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>LIC. DAVID HERNÁNDEZ PONCE</b>
                                        <br>
                                        DEPTO. DE UNIDADES DE APRENDIZAJE DEL ÁREA TECNOLÓGICA
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74027
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>ING. PABLO INDALECIO ESTRELLA CONDE</b>
                                        <br>
                                        DEPTO. DE SERVICIOS ACADÉMICOS
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74026
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>LIC. JOSÉ LUIS VÁZQUEZ PIÑÓN</b>
                                        <br>
                                        DEPTO. DE INVESTIGACIÓN Y DESARROLLO TECNOLÓGICO
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74001
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>M. EN C. CARLOS ANTONIO MADRID TREJO</b>
                                        <br>
                                        UNIDAD DE TECNOLOGÍA EDUCATIVA Y CAMPUS VIRTUAL
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74035
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h3 class="subtitleTemplate-tn">Subdirección de Servicios Educativos e Integración Social</h3>
                <!-- PLANTILLA DE TABLA -->
                <div class="sectionTable sectionTableDirectorio">
                    <table class="tableTemplate tableTemplateDir">
                        <thead class="tableHeadTemplate">
                            <tr class="tableRowTemplate">
                                <th class="cellHeadT textLeftCell cellHeadDir">
                                    <p class="textCellT">
                                        Nombre
                                    </p>
                                </th>
                                <th class="cellHeadT cellHeadDir">
                                    <p class="textCellT">
                                        Extensión
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableBodyTemplate">
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>LIC. JOSÉ CAMILO MARTÍNEZ OCHOA</b>
                                        <br>
                                        SUBDIRECCIÓN DE SERV. EDUCATIVOS E INTEGRACIÓN SOCIAL
                                        <br>
                                        <a href="mailto:seeis.cecyt3@ipn.mx" target="_blank" class="aElementTemplates">
                                            seeis.cecyt3@ipn.mx
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74011
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>LIC. SAÚL ROJAS TENTLE</b>
                                        <br>
                                        DEPTO. DE GESTIÓN ESCOLAR
                                        <br>
                                        <a href="mailto:dge.cecyt3@ipn.mx" target="_blank" class="aElementTemplates">
                                            dge.cecyt3@ipn.mx
                                        </a>
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74012
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>M. EN A.F. JESÚS ERNESTO MORENO</b>
                                        <br>
                                        DEPTO. DE SERVICIOS ESTUDIANTILES
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74030
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>DEPTO. DE EXTENSIÓN Y APOYOS EDUCATIVOS</b>
                                        <br>
                                        ING. MÓNICA MARTÍNEZ CHÁVEZ
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74015
                                    </p>
                                </td>
                            </tr>
                            <tr class="tableRowTemplate">
                                <td class="cellTableT cellTableDir textLeftCell">
                                    <p class="textCellT">
                                        <b>UNIDAD POLITÉCNICA DE INTEGRACIÓN SOCIAL</b>
                                        <br>
                                        ING. JOSÉ ALEJANDRO RIOS CERÓN
                                    </p>
                                </td>
                                <td class="cellTableT cellTableDir">
                                    <p class="textCellT">
                                        74008
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>