<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identidad | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <script src="../../JS/plantillas/bntShowImage.js" defer></script>
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="identidad">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Identidad</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <section class="sectionShowImageTemplate sSIT-I">
        <img src="" alt="" class="imgShowTemplate">
    </section>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Identidad Politécnica</h1>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">INSTITUTO POLITÉCNICO NACIONAL</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">CREACIÓN</h3>
                <p class="textTemplate-tn">
                    El IPN es una Institución educativa del Estado creada para consolidar, a través de la educación, la Independencia Económica, Científica, Tecnológica, Cultural y Política para alcanzar el progreso social de la Nación, de acuerdo con los objetivos Históricos de la Revolución Mexicana, contenidos en la Constitución Política de los Estados Unidos Mexicanos. Información recuperada de la Ley Orgánica del IPN.
                </p>
            </article>
        </section>
        <section class="template-imgN">
            <article class="articleContentTemplate-in">
                <h3 class="subtitleTemplate-tn">HISTORIA</h3>
                <p class="textTemplate-tn">
                    En 1932 surgió la idea de integrar y estructurar un sistema de enseñanza técnica, proyecto en el cual participaron destacadamente el licenciado Narciso Bassols y los ingenieros Luis Enrique Erro y Carlos Vallejo Márquez.

                    Sus conceptos se cristalizaron en 1936, gracias a Juan de Dios Bátiz, entonces senador de la República y al general Lázaro Cárdenas del Río, Presidente Constitucional de los Estados Unidos Mexicanos, proponiendo llevar a cabo los postulados de la Revolución Mexicana en materia educativa; dando así nacimiento a una sólida casa de estudios: el Instituto Politécnico Nacional.
                </p>
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Identidad/ipn-antiguo.jpeg" alt="" class="imgTemplate-in">
                <p class="textTemplate-in">
                    Sus fundadores concibieron al Politécnico como un motor de desarrollo y espacio para la igualdad; apoyando por una parte, el proceso de industrialización del país y, por la otra, brindando alternativas educativas a todos los sectores sociales, en especial a los menos favorecidos.
                </p>
            </article>
        </section>
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">VIDEOS: "Del sueño al Orgullo Politécnico"</h3>
                <p class="textTemplate-tn">
                    <!-- PLANTILLA DE TABLA -->
        <div class="sectionTable">
            <table class="tableTemplate">
                <thead class="tableHeadTemplate">
                    <tr class="tableRowTemplate">
                        <th class="cellHeadT">
                            <p class="textCellT">
                                Video
                            </p>
                        </th>
                        <th class="cellHeadT">
                            <p class="textCellT">
                                Enlace
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody class="tableBodyTemplate">
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CAPITULO 1 INTRODUCCIÓN</b>
                                <br>
                                Del sueño al orgullo politécnico – Introducción
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="https://www.youtube.com/watch?v=4XFXhFNMiY0&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=1&t=11s" target="_blank" class="aElementTemplates">
                                    https://www.youtube.com/watch?v=4XFXhFNMiY0&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=1&t=11s
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CÁPSULA 2 MEDIA SUPERIOR</b>
                                <br>
                                Del sueño al orgullo politécnico – Nivel Medio Superior
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="#" target="_blank" class="aElementTemplates">
                                    
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CÁPSULA 3 SUPERIOR</b>
                                <br>
                                Del sueño al orgullo politécnico – Nivel Superior
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="https://www.youtube.com/watch?v=2VZq2puy7z4&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=2" target="_blank" class="aElementTemplates">
                                    https://www.youtube.com/watch?v=2VZq2puy7z4&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=2
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CÁPSULA 4 POSGRADOS</b>
                                <br>
                                Del sueño al orgullo politécnico – Posgrados
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="https://www.youtube.com/watch?v=TiA5wNznuts&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=3" target="_blank" class="aElementTemplates">
                                    https://www.youtube.com/watch?v=TiA5wNznuts&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=3
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CÁPSULA 4 POSGRADOS</b>
                                <br>
                                Del sueño al orgullo politécnico – Posgrados
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="https://www.youtube.com/watch?v=TiA5wNznuts&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=3" target="_blank" class="aElementTemplates">
                                    https://www.youtube.com/watch?v=TiA5wNznuts&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=3
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CÁPSULA 5 INVESTIGACIÓN</b>
                                <br>
                                Del sueño al orgullo politécnico – Investigación
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="https://www.youtube.com/watch?v=f3h3W_YJj2c&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=4" target="_blank" class="aElementTemplates">
                                    https://www.youtube.com/watch?v=f3h3W_YJj2c&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=4
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CÁPSULA 6 A INTERNACIONALIZACIÓN</b>
                                <br>
                                (Invita a estudiantes del mundo a estudiar en el IPN)
                                <br>
                                Del sueño al orgullo politécnico – Internacionalización p. 1
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="https://www.youtube.com/watch?v=KhCC2XmCv0E&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=5" target="_blank" class="aElementTemplates">
                                    https://www.youtube.com/watch?v=KhCC2XmCv0E&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=5
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CÁPSULA 6 B INTERNACIONALIZACIÓN</b>
                                <br>
                                (Invita estudiantes mexicanos a conocer la movilidad académica del IPN)
                                <br>
                                Del sueño al orgullo politécnico – Internacionalización p. 2
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="https://www.youtube.com/watch?v=ftN4yz25PP0&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=6" target="_blank" class="aElementTemplates">
                                    https://www.youtube.com/watch?v=ftN4yz25PP0&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=6
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CÁPSULA 7 INNOVACIÓN Y PATENTES</b>
                                <br>
                                Del sueño al orgullo politécnico – Innovación y patentes
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="https://www.youtube.com/watch?v=iEx75nrlAz0&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=7" target="_blank" class="aElementTemplates">
                                    https://www.youtube.com/watch?v=iEx75nrlAz0&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=7
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr class="tableRowTemplate">
                        <td class="cellTableT">
                            <p class="textCellT">
                                <b>CÁPSULA 8 MEDIOS IPN</b>
                                <br>
                                Del sueño al orgullo politécnico – Medios IPN
                            </p>
                        </td>
                        <td class="cellTableT">
                            <p class="textCellT">
                                <a href="https://www.youtube.com/watch?v=bnrf4U3HGJs&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=8" target="_blank" class="aElementTemplates">
                                    https://www.youtube.com/watch?v=bnrf4U3HGJs&list=PLlUNOQX6roAgLRaZfc3tdetY8TqNIwTLa&index=8
                                </a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
                </p>
            </article>
        </section>
        <section class="template-textL-imgR">
            <article class="articleContentTemplate-tl-ir">
                <div class="contText-template-tl-ir">
                    <h3 class="subtitleTemplate-tl-ir">ESCUDO Y LEMA</h3>
                    <p class="textTemplate-tl-ir">Fueron las inquietudes estudiantiles quienes tomaron la iniciativa para crear los símbolos que identificaran a la naciente institución politécnica. En los años 1944-1945 la Federación Nacional de Estudiantes Técnicos (FNET) lanzó una convocatoria para diseñar un escudo representativo de las escuelas que integraban el IPN. El primer lugar fue otorgado al alumno Armando López Fonseca quien con ayuda de su compañero Jorge Grajales, lograron que su diseño fuera el ganador.</p>
                </div>
                <div class="contImg-template-tl-ir">
                    <img src="../../img/Views/Identidad/logo-ipn-antiguo.jpeg" alt="" class="imgTemplate-tl-ir">
                </div>
            </article>
            <article class="articleContentTemplate-tl-ir">
                <div class="contText-template-tl-ir">
                    <p class="textTemplate-tl-ir">El escudo fue modificado en 1948 conservando sus elementos originales...</p>
                </div>
                <div class="contImg-template-tl-ir">
                    <img src="../../img/logo_ipn_guinda.svg" alt="" class="imgTemplate-tl-ir" style="width: 5rem;">
                </div>
            </article>
        </section>
        <section class="template-videoN">
            <article class="articleContentTemplate-vn">
                <h3 class="subtitleTemplate-tn">HIMNO</h3>
                <iframe src="https://www.youtube.com/embed/QAQ0PfzBlRI" title="Himno del Instituto Politécnico Nacional (IPN)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="videoTemplate-vn"></iframe>
                <div class="articleDescriptionTemplate-vn">
                    <p class="textTemplate-vn">
                        Para obtener el Himno se convocó a un concurso abierto para su creación, pero no hubo eco al llamado. Luego de dos nuevas convocatorias, la poetisa Carmen de la Fuente resultó triunfadora del certamen y la Dirección General del Instituto le premió, el 15 de julio de 1961. Posteriormente, como la música aún no estaba elegida, se convocó a un certamen para poner música a la letra del himno del IPN, y resultó triunfador Armando González Domínguez, pianista reconocido y director de varias orquestas.
                    </p>
                </div>
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Identidad/himno.jpg" alt="" class="imgTemplate-in">
            </article>
        </section>
        <section class="template-imgN">
            <article class="articleContentTemplate-in">
                <h3 class="subtitleTemplate-tn">MASCOTA</h3>
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Identidad/mascota.jpg" alt="" class="imgTemplate-in">
                <p class="textTemplate-in">
                    Es tradición que en todas las instituciones de educación superior y particularmente los equipos deportivos, elijan una mascota, la del IPN es un burro blanco. La razón es muy particular; se conocen por tradición oral diferentes versiones que al paso del tiempo se funden entre la realidad y el mito. Una de las más conocidas, es la que al establecer los límites del terreno donde se estaba construyendo el IPN, en la Ex Hacienda de Santo Tomás por los años 30, quedó encerrada una burra blanca, al ser descubierta por los estudiantes e integrantes del primer equipo de fútbol americano la tomaron como su mascota.

                    Con el paso de los años, la burra se convirtió en uno de los símbolos del Politécnico, fundamentalmente en el ámbito deportivo.
                </p>
            </article>
            <article class="articleContentTemplate-in">
                <h3 class="subtitleTemplate-tn">PORRA</h3>
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Identidad/porra.jpeg" alt="" class="imgTemplate-in">
                <p class="textTemplate-in">
                    Uno de los deportes que creció junto con el Politécnico fue el fútbol americano. Desde sus inicios ha dejado profunda huella entre sus seguidores, quienes para apoyarlo han entonado diferentes porras: desde el chiquitibum hasta el huélum; sin embargo, es éste el que ha permanecido vigente a través de un grito de fiesta para celebrar y cerrar todos los eventos.
                </p>
                <p class="textTemplate-in textCenter">
                    <b>
                        <a href="../../Documents/Identidad/Porra IPN.pdf" target="_blank" class="aElementTemplates">
                            VER PORRA COMPLETA
                        </a>
                    </b>
                </p>
            </article>
        </section>
        <section class="template-videoN">
            <article class="articleContentTemplate-vn">
                <h3 class="subtitleTemplate-tn">DECÁLOGO</h3>
                <iframe width="942" height="530" src="https://www.youtube.com/embed/DIgVIbt_Xxs" title="Decálogo del Politécnico #DíaDelPolitécnico #IPN84AñosPorMéxico #VivaVoca7" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="videoTemplate-vn"></iframe>
            </article>
            <article class="articleContentTemplate-in">
                <input type="button" value="Ver imagen" class="btnShowImageTemplate">
                <img src="../../img/Views/Identidad/decalogo.jpg" alt="" class="imgTemplate-in">
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>