<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organigrama | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/organigrama.css">
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <script src="../../JS/organigrama.js" defer></script>
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="organigrama">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Organigrama</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <section class="sectionInfoMember sectionIM-I">
        <article class="articleInfoMember">
            <div class="contTitleMember">
                <h3 class="titleMember"></h3>
            </div>
            <div class="contInfoMember">
                <img src="" alt="" class="imgMember">
                <h3 class="nameMember"></h3>
                <h2 class="extMember"></h2>
                <p class="textMember">
                    <a href="mailto:cecyt3@ipn.mx" target="_blank" class="aElementTemplates emailMember"></a>
                </p>
            </div>
            <div class="contBtnCloseMember">
                <input type="button" value="Cerrar" class="btnCloseMember">
            </div>
        </article>
    </section>
    <main>
        <!-- TITULO PRINCIPAL PÁGINA -->
        <section class="articleMainTitleTemplate">
            <h1 class="mainTitleTemplate">Organigrama general</h1>
        </section>
        <section class="sectionOrganization">
            <article class="articleOrgOne">
                <div class="contMemberOrgOne memberOrg">
                    <div class="contInfoMemeberOrgOne">
                        <img src="../../img/imgOrganigrama/jose-diego-ruben-aguila-chavez.png" alt="" class="imgMemberOrg">
                        <p class="textMemberOrg">Dirección</p>
                    </div>
                    <div class="boxMemberOrg-B"></div>
                </div>
            </article>
            <article class="articleOrgMul artOrgMul-1 articleOrgMul-RES">
                <div class="contMulMembersOrg">
                    <div class="contMemberOrg memberOrg contMO-R">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/usuario.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Consejo Técnico Consultivo Escolar</p>
                        </div>
                        <div class="boxMemberOrg-R"></div>
                    </div>
                    <div class="contMemberOrg memberOrg contMO-R">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/usuario.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Comité Interno de Proyectos</p>
                        </div>
                        <div class="boxMemberOrg-R"></div>
                    </div>
                    <div class="contMemberOrg memberOrg contMO-R">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/Antiguas/otilia-torres-vivanco.jpg" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Decanato</p>
                        </div>
                        <div class="boxMemberOrg-R"></div>
                    </div>
                </div>
                <div class="contMulMembersOrg">
                    <div class="contMemberOrg memberOrg contMO-L">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/jarumi-lizzette-pano-diaz.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Coord. de Enlace y Gestión Técnica</p>
                        </div>
                        <div class="boxMemberOrg-L"></div>
                    </div>
                    <div class="contMemberOrg memberOrg contMO-L">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/Antiguas/erik-benjamin-herrera-lopez.jpeg" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Unidad de informatica</p>
                        </div>
                        <div class="boxMemberOrg-L"></div>
                    </div>
                </div>
            </article>
            <article class="articleOrgMul artOrgMul-2">
                <div class="contMulMembersOrg">
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/alejandrina-morales-gonzalez.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Subdirección Académica</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                        <div class="boxMemeberOrg-Large-L"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/viridiana-viveros-chavez.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Unidades de Aprendizaje del Área Básica</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/jose-alejandro-rios-ceron.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Unidades de Aprendizaje del Área Humanística</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/aprendizajeTecnologica.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Unidades de Aprendizaje del Área Tecnológica</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/Antiguas/pablo-indalecio-estrella-conde.jpg" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Servicios Académicos</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/Investigacion.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Investigación y Desarrollo Tecnológico</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/carlos-antonio-madrid-trejo.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Unidad de Tecnología Educativa y Campus Virtual</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                </div>
                <div class="contMulMembersOrg">
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/Antiguas/jose-camilo-martinez-ochoa.jpg" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Subdirección de Serv. Educativos e Integración Social</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/saul.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Gestión Escolar</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/jesus-ernesto-moreno-salas.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Servicios Estudiantiles</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/extensionyApoyosEducativos.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Extensión y Apoyos Educativos</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/usuario.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Unidad Politécnica de Integración Social</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                </div>
                <div class="contMulMembersOrg">
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/magdalena-mireya-sosa-nuñez.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Subdirección Administrativa</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                        <div class="boxMemeberOrg-Large-R"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/raquel-grisell-gomez-godinez.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Capital Humano</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/Antiguas/monica-alejandra-garcia-muñoz.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Recursos Financieros</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                    <div class="contMemberOrg memberOrg">
                        <div class="contInfoMemeberOrg">
                            <img src="../../img/imgOrganigrama/Antiguas/juan-alberto-montaño-archundia.png" alt="" class="imgMemberOrg">
                            <p class="textMemberOrg">Depto. de Recursos Materiales y Servicios</p>
                        </div>
                        <div class="boxMemberOrg-T"></div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLANTILLA -->
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>