<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Técnico en Sistemas Automotrices | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <link rel="stylesheet" href="../../CSS/ofertaEducativa.css">
    <script src="../../JS/menuEduOffer.js" defer></script>
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="automotriz">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Técnico en Sistemas Automotrices</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <section class="bgAutomotriz">
            <article class="articleCareer" id="particles-js">
                <h2 class="titleCareer">Técnico en Sistemas Automotrices</h2>
            </article>
        </section>
        <!-- MENU OFERTA EDUCATIVA -->
        <section class="menuEduOffer">
            <nav class="navMenuEduOffer">
                <ul class="listMenuEO">
                    <a href="control-electrico.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Control Eléctrico
                            </p>
                        </li>
                    </a>
                    <a href="computacion.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Computación
                            </p>
                        </li>
                    </a>
                    <a href="sistemas-digitales.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Sistemas Digitales
                            </p>
                        </li>
                    </a>
                    <a href="mac.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                MAC
                            </p>
                        </li>
                    </a>
                    <a href="aeronautica.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Aeronáutica
                            </p>
                        </li>
                    </a>
                    <a href="#" class="aElement">
                        <li class="itemListMEO itemActive">
                            <p class="textItemListMEO">
                                Automotriz
                            </p>
                        </li>
                    </a>
                </ul>
            </nav>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">OFERTA EDUCATIVA</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">ANTECEDENTES DE LA CARRERA</h3>
                <p class="textTemplate-tn">
                    De acuerdo con la Información vertida por el Sector Automovilístico, el automóvil es un vehículo indispensable para la sociedad actual, puesto que es el medio de transporte más utilizado para los recorridos diarios de las personas. Desde que se fabricó el primer prototipo de automóvil con motor de vapor en 1769 por Henry Ford, este transporte ha venido evolucionando a lo largo de los años, hasta llegar a vehículos con motores diesel, de gasolina, eléctricos y en proceso de investigación los que estarán utilizando los biocombustibles, todos con una serie de aplicaciones y versiones para carga, turismo, deportes, con variados niveles de confort y lujo.
                    <br><br>
                    La primera planta ensambladora de automóviles se abrió en 1925 por parte de Ford. Años después otros productores norteamericanos comenzaron a ensamblar vehículos. Para 1960, 53% de la demanda de automóviles en México era suplida por importaciones y cerca del 80% de las partes usadas en la producción nacional era importada. Las exportaciones llegaban a apenas $200 mil dólares, con un déficit sectorial de más de $119 millones de dólares, del cual cerca del 85% eran con los Estados Unidos de Norteamérica.
                </p>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">OBJETIVO DE LA CARRERA</h3>
                <p class="textTemplate-tn">
                    Formar Técnicos Profesionales a nivel medio superior, que al finalizar sus estudios, habrán adquirido la capacidad en el diseño, desarrollo, fabricación, ensamblaje, comercialización y venta de vehículos automotores.
                </p>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">PERFIL DE INGRESO</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            CONOCIMIENTOS: Algebra, Trigonometría, Geometría Analítica, Computación Básica e Inglés
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            HABILIDADES: Manipulación de diversas formulas matemáticas. Entendimiento de Imágenes geométricas, manejo de software básico, entendimiento de manuales en idioma inglés
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            ACTITUDES: Responsabilidad, honestidad,dedicación,respeto, colaboración, limpieza, orden y organización.
                        </p>
                    </li>
                </ul>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">PERFIL DE EGRESO</h3>
                <p class="textTemplate-tn">
                    Profesional a nivel técnico que mantenga, diagnostique y repare vehículos automotores en todos sus sistemas, supervisando su desempeño en base a reparaciones de calidad, evitando quejas de clientes y teniendo una visión y ambición de pasar del área operativa al área administrativa o gerenecial dentro de las agencias.
                </p>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">AL EGRESAR OBTIENES:</h3>
                <p class="textTemplate-tn">
                    Certificado, boleta global, diploma y título profesional de Técnico a nivel Medio Superior. Estos documentos te servirán para ingresar al nivel superior en el área de Ingeniería en Ciencias Físico Matemáticas y además podrás incorporarte al mercado de trabajo para mantener económicamente tus estudios.
                </p>
            </article>
        </section>
        <!-- PLANTILLA SOLO VIDEO -->
        <section class="template-videoN">
            <article class="articleContentTemplate-vn ">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/3dFVC6fbE-I" title="Técnico en Sistemas Automotrices CECyT 3 - IPN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" class="videoTemplate-vn" allowfullscreen></iframe>
                <div class="articleDescriptionTemplate-vn">
                    <b>Unidad Politécnica de Integración Social CECyT 3</b>
                    </p>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLATINLLA -->
<script src="../../JS/particlesJS/particles.min.js"></script>
<script src="../../JS/particlesJS/configParticles.js"></script>
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>