<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Técnico en Manufactura Asistida por Computadora | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <link rel="stylesheet" href="../../CSS/ofertaEducativa.css">
    <script src="../../JS/menuEduOffer.js" defer></script>
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="mac">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Técnico en Manufactura Asistida por Computadora</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <section class="bgMAC">
            <article class="articleCareer" id="particles-js">
                <h2 class="titleCareer">Técnico en Manufactura Asistida por Computadora</h2>
            </article>
        </section>
        <!-- MENU OFERTA EDUCATIVA -->
        <section class="menuEduOffer">
            <nav class="navMenuEduOffer">
                <ul class="listMenuEO">
                    <a href="control-electrico.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Control Eléctrico
                            </p>
                        </li>
                    </a>
                    <a href="computacion.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Computación
                            </p>
                        </li>
                    </a>
                    <a href="sistemas-digitales.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Sistemas Digitales
                            </p>
                        </li>
                    </a>
                    <a href="#" class="aElement">
                        <li class="itemListMEO itemActive">
                            <p class="textItemListMEO">
                                MAC
                            </p>
                        </li>
                    </a>
                    <a href="aeronautica.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Aeronáutica
                            </p>
                        </li>
                    </a>
                    <a href="automotriz.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Automotriz
                            </p>
                        </li>
                    </a>
                </ul>
            </nav>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">OFERTA EDUCATIVA</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">ANTECEDENTES DE LA CARRERA</h3>
                <p class="textTemplate-tn">
                    Desarrollar la fuerza de trabajo en este mundo de competencia global, exige introducir nuevas formas en los sistemas de educación y formación que coadyuven a mantener el equilibrio estructural entre la oferta y la demanda y que contribuyan a incrementar su adaptabilidad a la dinámica del mercado laboral.
                    <br><br>
                    Por tal motivo el mundo y el México de hoy, exigen una modernización constante en la industria, en el campo y en la provisión de los servicios esenciales. La pertinencia, flexibilidad, polivalencia y la acreditación del saber demostrado que caracteriza a esta carrera, pretende romper con todo aquello que limite al desarrollo pleno integral del estudiante, creando nuevos espacios de interacción entre saberes, aptitudes y habilidades prácticas hacia el diseño y la creatividad tecnológica.
                </p>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">OBJETIVO DE LA CARRERA</h3>
                <p class="textTemplate-tn">
                    La carrera de Técnico en Manufactura Asistida por Computadora permitirá formar técnicos altamente calificados en sus conocimientos y habilidades en el manejo de sus instrumentos de medición, operación de máquinas especiales, robótica, neumática, hidráulica, células de manufactura, que los integrara al sector productivo del país.
                </p>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">PERFIL DE INGRESO</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            CONOCIMIENTOS: De física, Computación Básicos, Matemáticas en las áreas de álgebra y trigonometría, Inglés básico.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            HABILIDADES: Comunicación oral y escrita, Inducción, deducción y análisis.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            ACTITUDES: Iniciativa, Responsabilidad, Optimismo, Compromiso e Interés en los procesos metal-mecánica y manejo de programas de control en un entorno virtual.
                        </p>
                    </li>
                </ul>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">PERFIL DE EGRESO</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            CONOCIMIENTOS: En automatización de maquinaria, análisis y control de diferentes sistemas de producción, programación virtual.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            HABILIDADES: Destreza manual en el uso y manejo de: equipo de computo, control numérico computarizado, instrumentos de medición, maquinas herramienta y control y automatización.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            ACTITUDES: Supervisar diferentes procesos productivos en el área metal-mecánica de forma optima y profesional.
                        </p>
                    </li>
                </ul>
            </article>
        </section>
        <!-- PLANTILLA SOLO VIDEO -->
        <section class="template-videoN">
            <article class="articleContentTemplate-vn ">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/zUumIqj9Hs8" title="Técnico en Manufactura Asistida por Computadora CECyT 3 - IPN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" class="videoTemplate-vn" allowfullscreen></iframe>
                <div class="articleDescriptionTemplate-vn">
                    <b>Unidad Politécnica de Integración Social CECyT 3</b>
                    </p>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLATINLLA -->
<script src="../../JS/particlesJS/particles.min.js"></script>
<script src="../../JS/particlesJS/configParticles.js"></script>
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>