<!DOCTYPE html>
<html lang="es" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Técnico en Sistemas Digitales | CECyT 3 "Estanislao Ramirez Ruíz"</title>
    <!-- CONFIGURACION BASE -->
    <link rel="stylesheet" href="../../CSS/Fonts.css">
    <link rel="stylesheet" href="../../CSS/loadingPage.css">
    <link rel="stylesheet" href="../../CSS/Header/Header.css">
    <link rel="stylesheet" href="../../CSS/Header/headerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/footerResponsive.css">
    <link rel="stylesheet" href="../../CSS/Footer/Footer.css">
    <link rel="stylesheet" href="../../CSS/newUser.css">
    <link rel="shortcut icon" href="../../img/logoC3.png" type="image/x-icon">
    <script src="../../JS/Header.js" defer></script>
    <script src="../../JS/menusHeaderC3.js" defer></script>
    <script src="../../JS/Loading.js" defer></script>
    <script src="../../JS/menusHeaderGob.js" defer></script>
    <script src="../../JS/clockHeaderC3.js" defer></script>
    <script src="../../JS/newUserAgent.js" defer></script>
    <script src="../../JS/sendMail.js" defer></script>
    <!-- FIN DE CONFIGURACION BASE -->

    <!-- CONTENIDO DE LA PAGINA EN ESPECIFICO -->
    <link rel="stylesheet" href="../../CSS/Templates/Templates.css">
    <link rel="stylesheet" href="../../CSS/ofertaEducativa.css">
    <script src="../../JS/menuEduOffer.js" defer></script>
    <!-- COLOR DE FONDO -->
    <meta name="theme-color" content="#682444">
</head>
<body id="sistemas-digitales">
    <section class="loadingPage loadingP-A">
        <article class="artLoadingP">
            <div class="contInfoLoadingP">
                <div class="contImgLoadingP">
                    <img src="../../img/logoC3.svg" alt="" class="imgLP">
                    <div class="contChargeLoadingP">

                    </div>
                </div>
                <div class="contTextLoadingP">
                    <h3 class="secondTitleLP">Técnico en Sistemas Digitales</h3>
                </div>
            </div>
        </article>
    </section>
    <header></header>
    <main>
        <section class="bgDigitales">
            <article class="articleCareer" id="particles-js">
                <h2 class="titleCareer">Técnico en Sistemas Digitales</h2>
            </article>
        </section>
        <!-- MENU OFERTA EDUCATIVA -->
        <section class="menuEduOffer">
            <nav class="navMenuEduOffer">
                <ul class="listMenuEO">
                    <a href="control-electrico.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Control Eléctrico
                            </p>
                        </li>
                    </a>
                    <a href="computacion.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Computación
                            </p>
                        </li>
                    </a>
                    <a href="#" class="aElement">
                        <li class="itemListMEO itemActive">
                            <p class="textItemListMEO">
                                Sistemas Digitales
                            </p>
                        </li>
                    </a>
                    <a href="mac.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                MAC
                            </p>
                        </li>
                    </a>
                    <a href="aeronautica.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Aeronáutica
                            </p>
                        </li>
                    </a>
                    <a href="automotriz.html" class="aElement">
                        <li class="itemListMEO">
                            <p class="textItemListMEO">
                                Automotriz
                            </p>
                        </li>
                    </a>
                </ul>
            </nav>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleTitleTemplate-tn">
                <h2 class="titleTemplate-tn">OFERTA EDUCATIVA</h2>
            </article>
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">ANTECEDENTES DE LA CARRERA</h3>
                <p class="textTemplate-tn">
                    Con el desarrollo de los equipos de cómputo y su aplicación en todas las áreas (informática, industria, telecomunicaciones, medicina, etc.), en la década de los setenta, se inicia la necesidad de formar técnicos en sistemas digitales, esto debido a la rápida evolución de los circuitos integrados hacia los microprocesadores y micro controladores y memorias. Este crecimiento industrial hacer surgir la necesidad de formar recursos humanos con los conocimientos y habilidades en los sistemas digitales, para su operación, instalación y mantenimiento en estos sectores laborales. Por lo anterior el IPN creó la carrera Técnico en Sistemas Digitales en 1987 a través del CECYT 3 Estanislao Ramírez Ruíz y el CECYT 9 Juan de Dios Bátiz Paredes, con una duración inicial de dos años en el área tecnológica Después de dos reestructuraciones, en 1988 y 1994, se incorpora el CECYT 1 Gonzalo Vázquez Vela.
                </p>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">OBJETIVO DE LA CARRERA</h3>
                <p class="textTemplate-tn">
                    Formar técnicos en el campo de los sistemas electrónicos digitales con la capacidad para contribuir a la solución de problemas mediante el desarrollo, manejo y operación al dar mantenimiento preventivo y correctivo a los sistemas electrónicos digitales de cómputo, medición y control utilizados en la industria, la medicina, las comunicaciones, la docencia y los servicios.
                </p>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">PERFIL DE INGRESO</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            Conocimiento sólido en el área de ciencias básicas.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Conocimiento del idioma inglés.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Conocer el manejo y aplicación de paquetería de cómputo comercial.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Facilidad en el cálculo matemático.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Racionalizar problemas.
                        </p>
                    </li>
                </ul>
            </article>
        </section>
        <!-- PLANTILLA TEXTO-NORMAL -->
        <section class="template-textN">
            <article class="articleContentTemplate-tn">
                <h3 class="subtitleTemplate-tn">PERFIL DE EGRESO</h3>
                <ul class="listTemplate">
                    <li>
                        <p class="textTemplate-tn">
                            Maneja dispositivos electrónicos para comprobar el funcionamiento en aplicaciones de sistemas digitales.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Desarrolla sistemas prácticos mediante el análisis, interpretación y programación de dispositivos electrónicos para la implementación de aplicaciones de automatización y control de procesos.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Analiza los diferentes tipos de sistemas de control e instrumentación industrial para la selección, implementación, detección de fallas y ejecución de los procesos automatizados incluyendo la robótica industrial.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Proporciona mantenimiento preventivo y correctivo al hardware y software de cómputo, utilizando correctamente las herramientas que sean requeridas para lograr un trabajo con calidad.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Desarrolla aplicaciones innovadoras que resuelvan problemas de sistemas digitales por medio de internet.
                        </p>
                    </li>
                    <li>
                        <p class="textTemplate-tn">
                            Implementa redes de área local alámbricas e inalámbricas de acuerdo a las especificaciones y normas estandarizadas.
                        </p>
                    </li>
                </ul>
            </article>
        </section>
        <!-- PLANTILLA SOLO VIDEO -->
        <section class="template-videoN">
            <article class="articleContentTemplate-vn ">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/t9J_l_BA0Cw" title="Técnico en Sistemas Digitales CECyT 3 - IPN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" class="videoTemplate-vn" allowfullscreen></iframe>
                <div class="articleDescriptionTemplate-vn">
                    <b>Unidad Politécnica de Integración Social CECyT 3</b>
                    </p>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

<!-- #region -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105106392530444");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- #endregion -->

<script src="../../JS/setContactUs.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0" nonce="4W2Fg1Qu"></script>
<!-- ARCHIVOS DE PLATINLLA -->
<script src="../../JS/particlesJS/particles.min.js"></script>
<script src="../../JS/particlesJS/configParticles.js"></script>
<script src="../../JS/plantillas/plantilla-hijo-hijo.js"></script>
<script src="../../JS/plantillas/nombreEnlaces.js" defer></script>
</html>